In [7]:
import pandas as pd

answers = pd.read_csv('answers.csv')
questions = pd.read_csv('questions.csv')

In [8]:
answers[answers['row_count'] == 19363]['text']

18761    ['Loves water - goes in the bath tub after we ...
Name: text, dtype: object

In [9]:
answers[answers['row_count'] == 4658]

,row_count,platform,cat_id,q_id,text
4058,4658,typeform,AV.75.1195922,wbGcTLMpw12F,"['Purina', 'Fancy Feast']"

In [10]:
questions[questions['q_id'] == 'rlV5VHNWb18l']

,row_count,platform,q_id,text,answers
535,535,typeform,rlV5VHNWb18l,Are there any other weird and wacky things abo...,['-1']