In [1]:
import csv

questions = [] 
answers = []
missed_rows = dict()

with open('survey.tab') as file:
    reader = csv.reader(file, delimiter='\t') 
    counter = 0
    for row in reader:
        try:
            if row[0]=='QUES':
                question = dict()
                question['row_count'] = counter
                question['platform'] = row[1]
                question['q_id'] = row[2]
                question['text'] = row[3]
                question['answers'] = row[4:]
                questions.append(question)
            elif row[0]=='RES':
                answer = dict()
                answer['row_count'] = counter
                answer['platform'] = row[1]
                answer['cat_id'] = row[2]
                answer['q_id'] = row[3]
                answer['text'] = row[4:]
                answers.append(answer)
            elif row[0]=='STAT':
                print('GENERAL STATISTICS ABOUT FILE')
                print(counter, row)
            else:
                # row[0] since all missed rows have len < 1
                missed_rows[counter] = row[0] 
                print(counter, row)
                answers[-1]['text'].append(row[0])
            counter += 1
        except IndexError:
            pass

4659 ['Fancy Feast']
10254 ['Hills prescription w/d dry food']
19364 ['Cackles at the birds constantly ']
19365 ['Always wants to be in a box/bag and tries to pull rug up to run under it']
25721 ['She was a rescue cat . Strangely her birth date is the same day my beloved cat ( Teddy age 18 ) died . Teddy died 4/19/19. Lollipops birth date is 4/19/18. I found Lollipop online at a rescue site. She is very affectionate and sweet like her name üç≠. Serendipity?']
28484 ['Tiki Cat']
28485 ['Nulo ']
29030 ['Black Hawk']
29031 ['Ziwipeak']
29032 ['Purina']
29033 ['Chicken & fish varieties']
29302 ['He rolls his eyes with disdain at guests']
29349 ['Hills Prescription']
30444 ['Feline Naturals Grain-Free Canned Food - Beef & Hoki']
30445 ['Barf Pet Mince - Kangaroo']
30468 ['Loves sitting in sinks and drinking from the tap.']
30469 ['Enjoys vegetables such as broccoli and green beans.']
30470 ['Frequently lays on back with legs fully extended and belly exposed.']
30717 ['Manipulative ']
31135 ['Chicken and seafood']
32081 ['2.) Instinct Pet Food (all flavors) wet pouches with added chicken bone broth or water.']
32082 ['3.) Instinct Pet Food Original Kibble in Chicken at-will.']
32083 ["4.) Transitioning exclusively to Darwin's Pet Food Natural Selections Raw Cat Food"]
32084 ['Premium Line (turkey, chicken, lamb) in the next couple weeks.']
32106 ['He *loves* people. I take him for walks outside on a leash and his favorite thing about the walks is meeting people. He will let any stranger pet him without any hesitation. ']
32107 ['I am leash training him and we go on walks in the park. He does well and follows me on the leash. When we walk around town I carry him in my arms where he is still too nervous around car noises to walk (but he gets better and better each time!). While carried he does very well, though. He gets tired and starts mewing after about 25 minutes and that\'s how I know he\'s "done". ']
32108 ["I try to bring him out and bring him in the car frequently to acclimate him to it. He definitely gets better with each walk, but he isn't getting better with car rides. I think I may eventually end up using CBD oil for longer car rides (30min+). He recovers almost instantly, though. He is noticeably frustrated in the car (he mews the ENTIRE time). "]
32109 ["His big sister is a 3lb, 6 year old rabbit I've had for 5 years. I got him young to help avoid any issues between them. So far he is still too scared of the rabbit to get to know her well. They coexist perfectly and neither has ever shown any aggression towards the other. Recently they appear to try to play with each other but my rabbit is very slow compared to Leo, who is still a kitten, so they can't quite figure out how to play together successfully. The rabbit is 100% free-range and litter box trained and they share the same space 24/7. I leave them alone together and they do perfectly fine. "]
32511 ['Wet cat food snack in the morning, various brands and flavors']
32560 ['The only noise she is scared of is coughing/clearing your throat, she literally runs from it.']
32561 ["She associates food with affection. As a result she will eat bare minimum if I'm not around and can be coaxed to eat again by my petting her/holding her bowl."]
32562 ["She is a one-person cat. Loves me dearly but doesn't want anyone else."]
32949 ['chicken']
33401 ['Royal Canine Hydrolyzed Protein']
33424 ['Chirps at birds outside']
33525 ['Duck, Chicken, or Salmon flavored Merrick wet food']
34276 ["Friskies--Chicken and Tuna, Supreme Supper, Mariner's Catch, Salmon"]
34277 ['Purina Beyond--Salmon, Trout and Catfish, Arctic Char and Spinich, Ocean Whitefish and Spinach']
35732 [' sleeps on his back with all 4 paws in the air']
35937 ["She also is FASCINATED by water and will come running from across the house when a faucet is turned on. Then she will stare at the water while it's running."]
36057 ["Hill's prescription diet c/d stew in chicken"]
36908 ['Purina Felix, Chicken, Beef and Fish flavours']
37004 ['Purina Beyond dry food']
37911 ['Royal Canin Dry']
37949 ['Hill‚Äôs c/d + stress (stew only)']
38554 ['Purina wet (various flavors)']
38668 ['Purina Pro Plan']
38669 ['Fancy Feast wet ']
38753 ['Purina wet food (various flavors)']
38848 ['Tuna & Beef']
38849 ['Tuna & Duck']
38850 ['Tuna & Lamb']
38851 ['Orijen:']
38852 ['Regional Reds']
38853 ["Stella & Chewy's:"]
38854 ['Salmon & cod freeze dried morsels']
38864 ['Basically a dog; loves going for walks, learning tricks, playing fetch']
38865 ['He is a munchkin cat']
40690 ['Feline Natural - chicken/lamb and venison/chicken']
41871 ['Fancy Feast classic pate, various flavors']
41872 ['Tiki Cat velvet mousse, various']
41945 ['Ziwipeak-Lamb']
41946 ['Nutrisource- Lamb&Lamb Liver, Pork&Pork Liver']
41947 ['Hound&Gatos-Lamb']
41948 ['Koha-Shredded Lamb']
42145 ['Royal Canin hydrolized protein ']
42262 ['Smallbatch Cat Turkey']
42552 ['Iams']
42628 ['purina one sensitive skin']
42629 ['Hills Z/D wet']
42901 ['Purina One sensitive skin and stomach']
43266 ['He enjoys sitting on the edge of the tub while people shower.']
43379 ['He does not mind being touched anywhere, including belly, back legs, feet, etc.']
43640 ['For wet he prefers the After Dark varieties and the ones containing tuna. For dry he likes the Born Carnivore Fish.']
44201 ['Wet food: Kasiks Turkey and Kasiks Chicken']
44331 ['She also appreciates being treated like a human....']
45027 ["Licks owner on face in morning/meows loudly in owner's ear in morning as a wakeup call. "]
45028 ['Relaxation - loved to be comfy in the sun after a playful catnip session. ']
45115 ['She also enjoys rubbing her face into my ballet flats and any used t-shirt my boyfriend discards. ']
45116 ['She cries whenever I leave the house, almost inconsolably, but never destroys anything. Just cries, and drags one of her favorite toys to another room. She acts a little embarrassed whenever my boyfriend catches her in the act.']
45117 ["These things are probably just normal cat stuff I'm sure, but it's part of what makes her very unique and strange."]
45438 ['simply nourish turkey and oatmeal']
45557 ["Dry - Nature's Variety Instinct Rabbit and Duck"]
45779 ['Royal Canin Veterinary Diet Hydrolyzed Protein HP Dry Cat Food']
46061 ['She likes to sit in the bathtub after we shower and sometimes will paw at water droplets in the sink after the faucet is turned off.']
46062 ['She frequently dunks her toy mice in the water dish.']
46063 ['She is absolutely wild about chasing feather toys and she likes to hunt bugs.']
46065 ['Blue Wilderness Flaked Red Meat Feast']
46071 ['Blue Wilderness Flaked Red Meat Feast wet food']
46079 ['If he wakes up early in the morning he will self-soothe by either sucking on his own fur or laying across my neck.']
46169 ['Purina Fancy Feast-many varieties ']
47581 ['Moist: Sheba, Chicken, Turkey, Mixed Grill']
48195 [' ']
48527 ["Kikii is very active and loves exploring. She is possessive over me to a point. She has greeted me at the door from day one (the other kitties are usually laying on the bed and look at me when I come in, but Kikii always scampers up to me when I walk in the door). She likes to reach into box holes like children do when they look for the prize in cereals. She will look at the hole and then reach as far into it as she can. I almost expected some kind of monkey to be in her report. A two year old monkey. If I am doing something she wants to be a part of it, from crafting to building her kitty climbers. She will touch what ever it is with her paws or smell it and look at me as if I should explain this to her. She is very graceful at maneuvering around my knic-knacs and crystals (which is good), that my other kitties don't go near. Her Basepaws health report is really good and I hope to have many years with her."]
48528 ["I am really looking forward to Basepaws having more kitties in the database. I have enjoyed reading about what my kitties are most like and it makes sense. It's about time someone gives kitties this kind of worthy attention. I really believe in this mission! "]
48959 ['Does "laps" through the kitchen-- dining room--living room while waiting for his canned food to be opened and spooned into his bowl.']
48973 ['Nulo MedalSeries Limited Ingredient, chicken (dry)']
49080 ['Fancy Feast wet food']
49203 ['Gourmet Gold - various flavors']
49560 ['Wevura ']
49561 ['Science Diet']
49562 ['Solid Gold ']
50326 ['He really has a personality, stubborn,']
50327 ['So friendly, affectionate with kisses every morning,']
50328 ['Loves to eat!']

50857 ["grooms me as well as herself if i'm close to her during a grooming session"]
50860 ['Halo turkey pate']
50861 ['Halo chicken shrimp and crab pate']
50862 ['Halo whitefish pate']
51460 ['Friskies Indoor dry']
51496 ['Nutrience - indoor adult ']
51652 ['Crave']
51653 ['Blue Wilderness']
51813 ['Friskies Indoors dry cat food']
51878 ['Science diet c/d or w/d dry']
51889 ["When walking and happy Rosie's tail will move forward over the top of his back."]
51890 ['Although I cannot definitively prove  that Rosie and Chase are brothers, they appeared in the yard together and about 3 weeks of age. ']
51931 ['American Journey Chicken']
51932 ['Primal Freeze Dried Rabbit Formula']
52225 ['American Journey Chicken']
52226 ['Primal Rabbit Formula']
52406 ["Hill's Science Plan Veterinarian Recommended Hairball Control (chicken)"]
52407 ['Royal Canin Ultra Light Chunks in Gravy (no flavour)']
52408 ['Purina Pro Plan Veterinary Diets Cat UR (Urinary) ST/OX (chicken) Dry']
52430 ["He gets angry (punitive) if he cannot patrol his territory.  (When we first adopted him, he was indoor/outdoor for two years.  He couldn't keep him inside or he would attack us.  When we moved we used the opportunity to turn him into an indoor only cat.  But we do let him into the garage as a substitute.  He gets a little upset if we don't let him out there whenever he asks."]
52431 ['Zigzag asks to be let through doors or into closets by stretching against the door. (No claws.)']
52456 ['Although he was a stray when we met him, the whole neighborhood had been taking care of him.  ']
52457 ['He will walk up to any stranger with complete trust and love.']
52709 ['Fancy feast, blue, friskies in wet. Chicken and Turkey flavor often. Other flavors rarely.']
52842 ['Hills Science Diet Urinary formula dry food']
53194 ['He is very food aggressive.']
53318 ['Wet food: mostly Science Diet Hairball control, but very picky with flavors, also try other commercial brand pates, Wellness brand, etc']
53551 ['1.  Natures Variety instinct chicken or lamb']
53552 ["2.  Stella and Chewy's chicken, turkey or goose/duck recipes"]
53553 ['All brands I use:']
53554 ['Pate']
53555 ['1. Natures Variety Instinct (canned only, their pouches contain guar gum)']
53556 ['2. Ziwi Peak']
53557 ['3. Natures Logic']
53558 ['4. Kasiks']
53559 ['5. Castor & Polluck Organix']
53560 ['Shredded/minced']
53561 ['1. Tiki Cat (canned only, pouches contain thickener) ']
53562 ['2. Rawz']
53563 ['3. N&D']
53564 ['4. Castor & Polluck Organix']
53565 ['Freeze Dried/dehydrated']
53566 ['1. Primal Nuggets']
53567 ["2. Stella & Chewy's"]
53568 ['3. Honest Kitchen (contains potato)']
53569 ['For treats, I usually only give freeze dried raw single ingredient meats (mostly chicken hearts for the additional taurine they provide. ) usually found in the dog treat area. I will also give freeze dried raw nuggets from Stella and Chewy or Primal unhydrated.']
54192 ['Solid gold']
54193 ['Blue wilderness']
54315 ['purina cat chow naturals dry food']
54876 ['Turkey, chicken, duck']
54877 ['Earthborn ']
54878 ['salmon, chicken, tuna']
55040 ['fancy feast']
55041 ['purina one']
55161 ['Iams']
55313 ['Turkey, chicken, salmon, rabbit, duck']
55581 ['Wet- Weruva, Whole Hearted']
56566 ['Organix']
56567 ['Pristine']
57551 ['Weruva Glam and Punk']
57552 ['Stella and Chewy‚Äôs raw food']
57721 ['Friskies variety canned pate']
58558 ['He licks our noses and ears!']
58559 ["His genetic sister had two heart defects, but he's had a cardiac ultrasound and was given a clean bill of health."]
58560 ['He does not have pica, but has in the past eaten part of a slow feeder, a therapy band, and wood furniture.']
58579 ['Natural Balance Venison & Pea limited ingredient (dry)']
58799 ['Tuna']
58887 ['duck']
58888 ['lamb']
58889 ['beef']
58890 ['quail']
58891 ['turkey']
58892 ['rabbit']
59145 ['Dry: Hills C/D Urinary care stress']
59693 ['salmon, chicken, turkey, gravy']
60030 ['He likes to groom the other cat but won‚Äôt let the other cat groom him. ']
60031 ['He gets very insulted easily ']
60033 ['PVD Dental health dry']
60134 ['He can be seen ‚Äúdoing rounds‚Äù when we have a party, just checks everything out periodically throughout the night.']
60135 ['He‚Äôs very friendly but also mouthy/bites (not in a mean way) the vet says this is bc he was bottle fed']
60326 ['Pure vita - Chicken']
60327 ['Blue Wilderness - Duck']
60328 ['Blue Wilderness - Chicken']
60329 ['Blue Wilderness - Salmon']
60368 ['She has eaten holes (and swallowed) her bedding, my sweaters, socks, toys, other fleece objects and put holes in chew resistant dog toys in less than an hour.']
60369 ['She sleeps in or on my bed most nights.']
60370 ['She does not show interest in playing with small hard toys like balls with internal bells.']
60371 ['She likes large paper bags and boxes.']
60400 ['Royal Canin PR Wet']
60623 ['Various kitten formula wets including Blue Buffalo']
61317 ['Pure Vita - Chicken & Peas']
61318 ['Blue Wilderness - Duck']
61319 ['Blue Wilderness - Salmon']
61320 ['Blue Buffalo - Tuna']
61321 ['Blue Buffalo - Turkey & Chicken']
61322 ['Blue Buffalo - Ocean Fish & Tuna']
61323 ['Blue Wilderness - Chicken']
62467 ['Chicken, turkey. Some beef and fish.']
62747 ['Seafood, beef, chicken']
63045 ['Wet: he‚Äôs very very picky and won‚Äôt eat the same thing more than two times in a row but eats mostly differs brands of chicken or turkey']
63214 ['Friskies wet']
63331 ['Aixia Kin Can and Miaw Miaw']
63332 ['Nurture Pro Cranberry, papaya, and pineapple']
63333 ['Cherie ']
63334 ['Absolute Holistic Raw Stew']
63335 ['Daily Delight Pure']
63336 ['Flavours: Mainly chicken/beef/turkey/lamb/venison/rabbit if given a choice but if not, then tuna/salmon options']
64013 ["There were a few places in the survey where it required an answer even though the question didn't apply based on the previous answer."]
64014 ["Part 2 question 30 - She isn't scared of anything, but the question required I select an answer."]
64015 ['Part 2 question 32 - She does not act with love/excitement to any of these things, only to intense playing. She likes sleeping lying next to people, but does not like to be pet. She tries to put your hand in her mouth if you pet her.']
64156 ['He is clicker trained. Learning sit, spin, and place']
64431 ['Royal Canin SO']
65074 ['BFF wet food']
65688 ["She also knows that the alarm clock is what wakes us up, so when she's hungry in the morning she tries to knock it off the nightstand."]
65689 ["She also loves human food (we call her our dumpster cat, as she was found eating out of a dumpster). She has gotten a bit better behaviorally around food over the years, but often needs to be locked up when we're eating or food is accessible. She loves ice cream with a passion and has launched herself upon my chest while I was standing in order to reach the ice cream in my hand. "]
66139 ['Royal Canine Hypo HP Dry food']
66982 ['Meow Mix dry food']
68269 ['Urinates over the edge of litter box (sometimes, not always']
68270 ['Excessive grooming in autumn only']
69206 ['Hills science diet urinary stress dry food']
69382 ['Fancy Feast (wet food)']
69383 ['Chicken, fish, beef']
70004 ['Weruva']
70005 ['Petcurean Go!']
70006 ['Performatrin Ultra']
70007 ["Nature's Variety"]
70008 ['Carnivora']
70009 ['Red Dog Blue Kat']
70010 ['Primal']
70011 ['Stella & Chewy']
70012 ['All flavors except for the fish ones, which they get only a couple times a month.']
70076 ['Blue Buffalo-flaked tuna, fish & shrimp']
70169 ['Blue Buffalo Dry Wilderness Chicken Adult']
70170 ['Friskies Beef Wet']
70183 ['Twice he has brought small rats to our neighbor when he was outside at night. He will put the rat on the ground as if saying "Look what I got" but then grabs it and runs off with it.']
70184 ["I forgot to mention above, he once brought in a live lizard. He got distracted when the lizard's tail came off and we managed to get the lizard into our garden. A few months later he caught the same lizard again but it wasn't so lucky."]
70383 ['Sheba']
70384 ['Blue']
70385 ['Chicken ']
70386 ['Turkey']
70387 ['Salmon']
70461 ['weruva']
70491 ['Nulo Dry Food- Duck']
70838 ['Hills Science Diet Oral Care & Muse Sailing with Salmon']
70942 ['Rawz wet canned']
70943 ['Tiki Cat wet canned']
70944 ['Fussie Cat wet canned']
70945 ['Weruva BFF pouches']
70946 ['Weruva Cats in the Kitchen  pouches']
71064 ['Raw meat/bone/liver 80/10/10']
71258 ["Hill's Science Diet Sensitive Stomach & Skin Chicken & Vegetable Entree Canned Cat Food"]
71942 ['Meow mix dry food']
72190 ["Merrick (Grammy's pot pie, turducken, thanksgiving dinner, duck shreds)"]
73328 ['Wellness dry food']
73585 ['Purina - Chicken']
73628 ['Sheba']
73629 ['Crave']
73630 ['Chicken']
73631 ['Salmon']
73632 ['Turkey']
73725 ['Friskies - all flavors (wet) ']
73805 ['Blue Buffalo']
74266 ['Fancy Feast (wet food)']
74267 ['Chicken, fish, beef']
74595 ['Merrick- beef, whitefish ']
74781 ['He comes when I call him.  Always.  ']
74782 ['He is hesitant around men until he gets to know them - could be from when he was a street cat.']
75062 ['PVD OM canned ']
75487 ['Wet food- rabbit, venison, beef (does not like veggies, poultry, or seafood (unless the seafood is in treat form)']
76067 ['Purina One']
76566 ['Everytime when I do a massage to his neck, he starts to lick any thing around him(not himself).']
76568 ['Natural Choice, chicken']
76574 [' interesting questions.']
76824 ['Friskies Pate']
76825 ['Hills Renal Support']
77969 ['Smokey loves to cuddle with his human mom. He hugs her and kneads and drools. If allowed he will try to lick your neck when cuddling.  ']
78971 ['Sheba Pate (Chicken, turkey, beef)']
78972 ['These are the lowest carb web foods appropriate for his diabetes']
79092 ['Rabbit and Pea)']
79093 ['Weruva (wet food only)']
79417 ['She follows her owner EVERYWHERE in the house. Or meows ‚Äúhello‚Äù if not in sight of owner.']
79524 ['She also does not tend to traditionally meow, rather she trills from her throat. She tends to do this a lot - when getting up to walk somewhere, or as a greeting or announcement. Her trilling to actual meowing is probably an 80/20 ratio.']
79525 ['She does NOT chatter or trill when she sees birds or other animals outside.']
79710 ['Instinct Ultimate Protein - Chicken Flavor']

80536 ['Pure Vita Beef Entree (wet)']
80537 ['Pure Vita Duck & Red Lentil (dry)']
81748 ['Friskies wet food - anything non-fish and with gravy.']
82301 ['Blue Sensitive Stomach Adult Cat Dry Food']
83910 ['He likes to ride on your shoulders']
83911 ['He runs to the door to great us when we come home']
83912 ['He likes his paws rubbed']
83913 ['When walking around or standing his tail is always relaxed but straight up in the air, so much so that when we first got him i wondered if he was physically unable to lower it.']
83914 ['He loves to talk with you']
83915 ['He loves to clean himself, a lot']
84155 ['Wet Food: Fancy Feast seafood grilled cans']
84276 ['Chicken, lamb, duck, salmon, tilapia']
84662 ['Spider was about 9 weeks old when he figured out how to eat from a bowl and had to be spoon fed when the bottle was not enough anymore. Spider is fearless except when it comes to inanimate objects.']
84663 ['He has always been very odd,  kind of dopey but always loving and intelligent. ']
85345 ['Friskies mixed grill']
85346 ['Wellness minced chicken']
85347 ['Wellness morsels turkey']
85454 ['Wet food - Variety, but only high quality and only eats fish-based foods']
85642 ["Dry food: Dr. Elsey's CleanProtein "]
85708 ['Even though Nola is 9 years old, she still likes kitty toys. Her preferences seem to be the small stuffed mice and the mice that have a squeaker that works when they get tapped.']
85709 ["After all the years she's been with me she will still run and hide sometimes when I go in the room. (or if I try to pick her up). Most of the time she will be right next to me while I am sitting anywhere, so she is not fearful of me, but since she was from a shelter I don't know her experience that causes that reaction. If she weren't shy of strangers I think she would be an amazing therapy cat."]
86537 ['Wet food, is high quality brands with no junk, or corn etc like Core Wellness. Dry food - all high quality no junk, high protein with lots of vegetables etc']
87337 ['duck']
87338 ['lamb']
87339 ['turkey']
87340 ['kangaroo']
87341 ['venison']
87342 ['quail']
87343 ['pork']
87344 ['rabbit']
88309 ['Natures. She‚Äôs a good girl and let‚Äôs me give her shots twice a day. She likes to groom everyone in the house and she loves to be close to me! ']
88596 ["Nature's Logic Feline Beef Feast"]
88597 ['Purina Pro Plan Veterinary Diets FortiFlora Probiotic']
88685 ['Science diet urinary stree drt food']
89266 ['Pretty Please dry food']
89267 ['Science Diet oral care, chicken flavor']
89273 ["He has lost 2 teeth due to abscesses and has had professional cleaning.  He may have another cleaning soon.  We don't know why his teeth are so bad. "]
89274 ["He was diagnosed with constipation at only 6 months old.  He was severely impacted and needed manual extraction.  After lots of trial and error, we discovered that his constipation could be managed with Miralax plus water added to his wet food.  He still poops just outside the box, but he's regular and thankfully doesn't have megacolon."]
89275 ["He has a slightly awkward gait (slight waddling in the back legs), which we wonder might be connected to the chronic constipation (neuromuscular?) and he's very floppy when you pick him up."]
89276 ["He's a very sweet and happy cat!  "]
89726 ['American Journey Dry Duck']
89727 ['Crave Wet food various flavors trout, salmon, duck, turkey, chicken']
90026 ['Weruva OMG Tuna and Duck']
90247 ['Only likes BFF wet food in the pouches (tuna based with additional meats above plus lamb)']
90649 ['He loves car rides and walking on a harness']
90650 ['Duck loves greeting me when I get home and reaches up a hug']
90662 ["Hill's Presciption Diet i/d pat√©"]
90685 ['He is a huge dog lover.']
90686 ['We call in the pickled hair up his behind when he gets random energy burst and sprints around the house for about a minute.']
90700 ["Hill's Prescription Diet i/d cans"]
92024 ['She enjoys water play. ']
92025 ['She will rub her head against anyone with bare feet until she maneuvers your big toe into her ears. If you refuse to cooperate with a toe in her ear, she will bite the top of your foot. ü§î']
92400 ['Wellness']
92401 ['Merrick']
92402 ['Weruva']
92403 ['Instinct']
92531 ['Royal Canin']
92532 ['Merrick']
92533 ['Wellness']
92534 ['Instinct']
94505 ['Blue Buffalo Wilderness Chicken Kibble']
94506 ['Sams club Rotisserie Chickens de-boned and  cut up']
94636 ['Wellness Turkey Formula wet food']
94654 ['-he has tufts of fur between his toes and lynx tips on his ears']
94774 ['Very vocal in an interactive way']
94840 ['-likes puzzles']
94841 ['-very clumsy']
94934 ['Petguard Premium Feast']
94935 ['Petguard Chicken and Rice']
94936 ['Petguard Chicken and Vegetable']
94937 ['Petguard Savory Seafood']
94938 ['Petguard Beef']
94939 ['(Basically all of the normal types of wetfood)']
95164 ['Royal Canin dry']
95256 ['All flavors - chicken, turkey, quail, pheasant, lamb, pork, beef, venison, etc.']
95286 ['All flavors - chicken, turkey, rabbit, pheasant, quail, venison, beef, pork, lamb, etc.']
95372 ['Orijen Cat & Kitten dry, Clean Protein Salmon dry']
95486 ['Clean Protein Chicken dry food']
95487 ['Orijen Cat and Kitten dry food']
95488 ['Fancy Feast wet food - various flavors']
95489 ['Fancy Feast Appetizers']
95490 ['Weruva wet food - various flavors']
95512 ["Very playful, never found a toy she doesn't like"]
95569 ['Turkey']
95570 ['Chicken & Salmon']
95571 ['Orijen:']
95572 ['Regional Reds']
95719 ['KatManFood chicken gently cooked']
95720 ['Royal Canin Sensitive Digestion dry food']
95914 ["Dry: Orijen, Nature's Variety Instince, Clean Protein"]
95915 ['Canned: Weruva, ProPlan, Fancy Feast']
95916 ["Raw: Frozen Hare Today, freeze dried Nature's Variety raw boost, Meat Mates"]
97532 ['Nulo wet ']
97533 ['Friskies wet']
97594 ['Nulo Wet']
97595 ['Friskies Wet']
97886 ['Fancy Feast chicken hearts and liver gravylicious']
98323 ['Vet thinks it‚Äôs an allergy to fillers in food (corn, peas etc.)']
99089 ["She's exceptionally affectionate and kind of floppy (in a happy, relaxed way) when being held"]
99558 ["Also, Hashmir has a Traditional/Doll Face Persian face- in between the Regular and the Peke (Brachy.) face. I wasn't sure what to say so I said he has a flat face even though it isn't as flat as a Brachy. nose."]
99659 ['Sheba wet ']
99660 ['Nom nom now wet']
100261 ['Meow Mix']
100262 ['Seafood']
100263 ['Chicken']
100694 ['Royal Canin Adult Instinctive Thin Slices in Gravy Wet Cat Food, 3 oz. once per day']
101084 ['Purina Grain Free - chicken']
101291 ['Frisky meaty variety wet food']
103186 [' Chicken flovor']
108858 ['Rachel Ray Nutrish wet food']
124202 ['Sheba (cuts only) wet']
124203 ['temptations cat treats']
130266 ['vital essentials']
130267 ['rawr']
130268 ['stella & chewys']
134513 ['She sits sprawled on chair backs and the sofa top']
136495 ["He's very shy and timid."]
136496 ['He keeps biting tip of his tail! ']
136502 ['Weruva Wet food (Tuna, other seafood, some chicken)']
136670 ['Merrick wet']
138424 ['And Paul Newman wet']
139633 ['She likes everything!']
140010 ['Temptations Treats']
140011 ['Poultry flavor, hairball control variety']
140077 ['Royal canin dry: less than 1 year spayed']
140078 ['Hills prescription dry: multi care urinary care plus stress relief']
142189 ['Halo (wet) - chicken/turkey/whitefish/salmon']
142190 ['Halo (dry) - chicken ']
142191 ['Core (wet) - chicken/turkey']
142192 ['Core (dry) - turkey']
142872 ['is best friends with our dog and they play hard together; sometimes he tries to dominate the dog.  Ollie also rolls a lot on the floor and is extremely vocal.  ']
143027 ['Fancy feast chicken ']
144230 ['2) Purina Pro Plan Urinary Care Turkey and Giblets can/wet']
144875 ['Wet: weruva cats in the kitchen funk in the trunk, chicken Frick a zee, Goldie lox, lamburgini, fowl ball']
146721 ['Royal Canin Hydrolyzed Protein']
147414 ['Roxas is extremely muscular, and he\'s a bit larger than average (21" long from nose to the base of the tail, and 13" tall from floor to shoulder), and he weighs a bit more than average (about 14 pounds) but he isn\'t overweight. We think he may be mixed with a larger cat breed since his mom got pregnant on the streets with him and his sisters. ']
147419 ['Purina Friskies']
147420 ['Purina ProPlan Savor']
147691 ['Fancy Feast wet food. A wide range of different flavors']
147878 ['Chicken']
147994 ['- He was neutered extremely early (around 8 weeks) according to the neighbor - his veterinary orthopedic surgeon believes this may be the cause of his MPLs ']
148318 ['Turkey']
148883 ['Royal Canin Indoor Cat dry food formula']
148945 ['Hartz Bisque']
148946 ['Hills Science Diet Indoor Cat']
148947 ['Hartz treats crunchy']
148948 ['9 Lives canned']
151727 ["Stella and Chewy's"]
152333 ['My older 2 cats( boy and a girl) get along with her bc Hotaru has a sweet temperament. But she does boss around a cat twice her size and has chased a dog 6 times her size she thought was a threat to me. She cuddles with me when she wants and when I want . Thanks for helping me find answers! ']
152338 ['Various hills wet food']
152567 ["Nature's Variety Instinct Ultimate Protein Dry Food (chicken)"]
152568 ['Nutro Natural Choice Indoor Cat Food Dry']
152909 ['Wet food Fancy Feast Primavera collection with garden vegetables and greens..also Friskies Treasures mostly chicken and tuna']
153339 ['Science diet sensitive skin & stomach dry food.']
153446 ['Science diet sensitive skin & stomach dry food']
153729 ['Flavor: chicken and salmon']
153762 ['Flavor: chicken and salmon']
153970 ['When she was a year old, we could scratch her haunches while she was standing and she‚Äôd faint/fall down. ']
153971 ['She talks a lot when she wants things and we taught her ‚Äúhungry?‚Äù']
154030 ['Natural Balance Dry Duck and Green Pea']
154153 ['9 Lives']
154154 ['Friskies']
154742 ['Duck']
155208 ['Friskies Indoor Variety']
155248 ['Instinct - Dry Kitten']
155504 ['Hill‚Äôs science diet hairball control chicken flavor']
156760 ['He also trills when jumping onto your lap. And chirps at the TV. ']
157280 ["Can't wait to get the results!!!"]
157326 ['Wellness']
157327 ['Soulistic']
157328 ['Nature‚Äôs Variety']
157946 ['Tiki Cat (Chicken, Chicken and egg)']
157947 ['Castor and Pollux Organix(Chicken, Chicken and Liver, Turkey)']
157948 ['Ziwi Peak (Chicken)']
157949 ['Natures Logic (Chicken)']
157950 ['Primal (Turkey)']
158022 ['Tiki Cat (Chicken, Chicken and Egg)']
158023 ['Castor and Pollux Organix (Chicken, Chicken and Liver, Turkey)']
158024 ['Ziwi Peak (Chicken)']
158025 ['Natures Logic (Chicken)']
158026 ['Primal (Turkey)']
158406 [' ']
158653 ["Louie is on high alert all the time, like he's never gotten used to living inside a safe house where he gets fed twice a day. Despite the fact he hasn't been outside since 2014, he once caught and killed a bird and left its body on the floor in the hallway outside my bedroom door. I'm still not even sure how he did this, which window with the broken screen he pushed out far enough to make this murder happen. "]
158654 ['Our other cat (Maddie, who is nearly 15) never took to his bouncy kitten energy; now Louie dwarfs her in size, and she is no petite little kitty. She tries to ignore him, but he intimidates her, pounces on her, and bites her neck. What used to look like "playing" is as confusing to us as it seems to be to her. She\'s constantly annoyed by him and - at this point in their relationship - I think genuinely afraid he might injure her. I\'ve read that bobcats kill domestic cats, and I suspect she smells that instinct on him.']
158989 ['Cod']
158990 ['Chicken']
159342 ['he always likes to be around people, social']
159343 ['he likes to suckle and kneed on my soft bathrobe']
159516 ['Dry Food Science Diet and Royal Canin']
159957 ['weruva']
159958 ['lotus']
159959 ['orijen']
160071 ['Sheba (wet), tuna, salmon, chicken']
160141 ['Sheba (wet), tuna, salmon, chicken']
160427 ['Sheba Perfect Portions - Tuna, Salmon, Turkey']
161068 ['absolutely LOVES glasses of water and will forcefully investigate and try to drink out of your glass']
161198 ['Wet: Various flavours']
161199 ['Dry: Chicken & rice formula']
161205 ["Miaao only really meows when I'm in the kitchen dishing up her food or cooking for myself.  She's either begging for food or really wants to know what i'm doing but is not big enough to jump up on the counter yet (hopefully she stays off counters when she's fully grown haha)."]
162141 ['Wet: Almo Nature La Cucina Tuna with Lobster or Tuna with Sole and Koha Limited Ingredient Duck Pate']
162479 ['Hills Science diet, canned, chunks in gravy, multiple flavors']
163253 ['Natural Balance Indoor Ultra Dry Cat Food']
163275 ['Sometimes she tries other wet food brands out. She likes pretty much every flavor and likes variety, but texture-wise she only likes pate']
163277 ["While she lovessss people (even people she's never met), she hates other animals. She hisses and leaps at dogs, hisses at other cats, and if she hears the sound of a kitten meow even over a video, she becomes quickly agitated and sometimes even hides."]
163507 ['Almost any canned wet food.']
171508 ['Hills Science Diet Metabolic/Urinary Dry']
171648 ['NONE']
171714 ['Wet Food : Royal canin ageing +12, Granatapet / Feringa / Leonardo : chicken, duck, Schesir : chicken, tuna, salmon']
171778 ['Wet Food (renal ) : Royal canin ( chicken, beef, tuna ), Kattovit : renal drink']
171779 ['Food supplement : PORUS ONE']
172127 ['friend of mine who has worked as a vet assistant and my vet also have commented about her different appearance( i.e. ticked coat, lynx tips on her ears, etc) that I wonder if she could be a hybrid.']
172129 ['Tiki After Dark Lamb']
172130 ['Tiki Chicken Dry']
172386 ['She has also always bolted out of the litterbox and yoweled after pooping. ']
172407 ['Open Farm - Herring & Mackerel ']
172408 ['Open Farm - Salmon']
172531 ["His favorite activity: to walk/run a loop in the forest behind the house with me - he begs to walk this path many times a day (and won't venture otherwise fortunately) - he zooms up and down the trees"]
173038 ['Purina ProPlan Prescription']
173445 ['She is extremely social with me and her cat-dad but wary of strangers. ']
173446 ['She loves hunting games, like string or chasing/swatting at a catnip mouse. If we throw her a large piece of meat as a treat, sometimes she will carry it away like a prey.']
173447 ['She loves running water from the cat fountain and faucet but dislikes being wet.']
173448 ['I never met her father, but her mom was a rust-colored bengal (I believe). She had two littermates (sisters) who were adopted by friends. Spot had the most independent personality as a kitten and so I took her to be an only cat, while her sisters remained together. One looked very similar to her, with coarser fur, more rust-colored patches, and a less-pronounced bullseye marking; the other (and most dominant personality) was white and grey. Both siblings have passed in recent years (the most similar to Spot passed of complications from diabetes type 1). Spot developed diabetes at age 15 after a switch to a grain-heavy renal diet; we managed it with insulin therapy and diet, and she is now in remission.']

173649 ['Fancy Feast']
173929 ['Wet - weruva bgg mixed flavors']
174088 ['He has an extremely loud purr. Like a choking rumble. ']
174292 ['Same for hard food']
174856 ['Turkey']
174930 ['Fussy Cat']
175037 ['Vital Cat']
175038 ['Fussie Cat']
175039 ['Fromm']
175277 ['he lays in weird positions']
175278 ['he loves our dogs and will chirp and show off for the dogs - he jumps up to rub his head on the dogs']
175279 ['his brother was a polydactyl- short hair - spotted tabby. his brother was way more outgoing and liked dogs too']
176612 ['Purine pro plan shredded in salmon and rice ']
176693 ['         Orijen ']
176694 ['Wet- Fancy Feast ']
176695 ['          Weruva']
177424 ['He likes to groom our heads after a shower.']
177425 ['He often smacks my leg when I walk by, never aggressively.']
177426 ['He stands up and stretches on my leg at dinner time and tries to climb up it.']
177427 ['He squashes himself and army-crawls under the bed.']
177428 ['He sometimes sleeps on my pillow wrapped around my head. Sometimes he chews on my hair.']
177441 ['Hills Metabolic dry food']
177684 ['+']
177685 ['Soulistic wet food different flavors']
177740 ['Hills Science diet, canned, chunks in gravy, multiple flavors']
GENERAL STATISTICS ABOUT FILE
659727 ['STAT', 'typeform', 'question_count', '600']
GENERAL STATISTICS ABOUT FILE
659728 ['STAT', 'typeform', 'response_count', '4567']
GENERAL STATISTICS ABOUT FILE
659729 ['STAT', 'typeform', 'response_matched_count', '3589']
GENERAL STATISTICS ABOUT FILE
659730 ['STAT', 'basepaws', 'question_count', '208']
GENERAL STATISTICS ABOUT FILE
659731 ['STAT', 'basepaws', 'response_count', '5913']
GENERAL STATISTICS ABOUT FILE
659732 ['STAT', 'basepaws', 'response_matched_count', '5748']

In [2]:
import pandas as pd

answers = pd.DataFrame(answers)
questions = pd.DataFrame(questions)

In [3]:
answers[answers['row_count'] == 19363]['text']

18761    [Loves water - goes in the bath tub after we s...
Name: text, dtype: object

In [14]:
for k,v in missed_rows.items():
    display(answers[answers.row_count == (k-1)])

      row_count  platform         cat_id          q_id                   text
4058       4658  typeform  AV.75.1195922  wbGcTLMpw12F  [Purina, Fancy Feast]

,row_count,platform,cat_id,q_id,text
9652,10253,typeform,CZ.40.31001812150020,wbGcTLMpw12F,"[Sheba brand wet cat food pate type, Hills pre..."

,row_count,platform,cat_id,q_id,text
18761,19363,typeform,GC.70.31001812151427,rlV5VHNWb18l,[Loves water - goes in the bath tub after we s...

Empty DataFrame
Columns: [row_count, platform, cat_id, q_id, text]
Index: []

,row_count,platform,cat_id,q_id,text
25116,25720,typeform,UNMATCHED.665c07f53f4df3e2e0f54fc8b0808281,raW4n4P4WQHi,"[We feel lucky to have adopted Lollipop üç≠., Sh..."

,row_count,platform,cat_id,q_id,text
27878,28483,typeform,CH.9.3875732,LFOAM2U65MPG,"[Royal Canin, Tiki Cat, Nulo ]"

Empty DataFrame
Columns: [row_count, platform, cat_id, q_id, text]
Index: []

,row_count,platform,cat_id,q_id,text
28422,29029,typeform,CC.32.1767390,LFOAM2U65MPG,"[Royal Canin, Black Hawk, Ziwipeak, Purina, Ch..."

Empty DataFrame
Columns: [row_count, platform, cat_id, q_id, text]
Index: []

Empty DataFrame
Columns: [row_count, platform, cat_id, q_id, text]
Index: []

Empty DataFrame
Columns: [row_count, platform, cat_id, q_id, text]
Index: []

,row_count,platform,cat_id,q_id,text
28690,29301,typeform,BJ.75.1425089,GxLpdTstavnO,"[He likes his tail rubbed, He rolls his eyes w..."

,row_count,platform,cat_id,q_id,text
28736,29348,typeform,BJ.75.1425089,LFOAM2U65MPG,"[Primal, Hills Prescription]"

,row_count,platform,cat_id,q_id,text
29830,30443,typeform,BT.43.3152557,LFOAM2U65MPG,"[Vetalogica Grain-Free Dry Food - Salmon, Feli..."

Empty DataFrame
Columns: [row_count, platform, cat_id, q_id, text]
Index: []

,row_count,platform,cat_id,q_id,text
29852,30467,typeform,BT.43.3152557,GxLpdTstavnO,"[Very big cat, very long., Loves sitting in si..."

Empty DataFrame
Columns: [row_count, platform, cat_id, q_id, text]
Index: []

Empty DataFrame
Columns: [row_count, platform, cat_id, q_id, text]
Index: []

,row_count,platform,cat_id,q_id,text
30098,30716,typeform,BQ.18.4442576,GxLpdTstavnO,"[Very vain, likes to look at self in mirror., ..."

,row_count,platform,cat_id,q_id,text
30515,31134,typeform,BL.44.2426648,LFOAM2U65MPG,"[Purina, Chicken and seafood]"

,row_count,platform,cat_id,q_id,text
31460,32080,typeform,BK.63.7897787,LFOAM2U65MPG,[1.) Primal Pet Foods (all flavors) rehydrated...

Empty DataFrame
Columns: [row_count, platform, cat_id, q_id, text]
Index: []

Empty DataFrame
Columns: [row_count, platform, cat_id, q_id, text]
Index: []

Empty DataFrame
Columns: [row_count, platform, cat_id, q_id, text]
Index: []

,row_count,platform,cat_id,q_id,text
31481,32105,typeform,BK.63.7897787,GxLpdTstavnO,[He is very quiet and only vocalizes when he w...

Empty DataFrame
Columns: [row_count, platform, cat_id, q_id, text]
Index: []

Empty DataFrame
Columns: [row_count, platform, cat_id, q_id, text]
Index: []

Empty DataFrame
Columns: [row_count, platform, cat_id, q_id, text]
Index: []

,row_count,platform,cat_id,q_id,text
31882,32510,typeform,BL.85.5385053,LFOAM2U65MPG,"[Iams- Healthy Adult with Chicken, Wet cat foo..."

,row_count,platform,cat_id,q_id,text
31930,32559,typeform,BN.53.DSC002350,GxLpdTstavnO,"[She likes to sit inside the dryer., The only ..."

Empty DataFrame
Columns: [row_count, platform, cat_id, q_id, text]
Index: []

Empty DataFrame
Columns: [row_count, platform, cat_id, q_id, text]
Index: []

,row_count,platform,cat_id,q_id,text
32316,32948,typeform,BM.56.7531057,LFOAM2U65MPG,"[Science Diet, chicken]"

,row_count,platform,cat_id,q_id,text
32767,33400,typeform,UNMATCHED.2e1dd7bba73ac78bc04a24d23b636291,LFOAM2U65MPG,"[Royal Canine Calm, Royal Canine Hydrolyzed Pr..."

,row_count,platform,cat_id,q_id,text
32789,33423,typeform,UNMATCHED.2e1dd7bba73ac78bc04a24d23b636291,GxLpdTstavnO,[Will always pick me in the room. If out of t...

,row_count,platform,cat_id,q_id,text
32889,33524,typeform,BI.4.4190027,LFOAM2U65MPG,"[Salmon flavored Blue Wilderness dry food, Duc..."

,row_count,platform,cat_id,q_id,text
33639,34275,typeform,BK.51.9831315,LFOAM2U65MPG,"[Fancy Feast--Chicken; Cod, Sole, and Shrimp; ..."

Empty DataFrame
Columns: [row_count, platform, cat_id, q_id, text]
Index: []

,row_count,platform,cat_id,q_id,text
35093,35731,typeform,BS.57.6520192,GxLpdTstavnO,"[He often, sleeps on his back with all 4 paws..."

,row_count,platform,cat_id,q_id,text
35297,35936,typeform,BL.28.3438425,GxLpdTstavnO,[She's very vocal with a lot of different chir...

,row_count,platform,cat_id,q_id,text
35416,36056,typeform,BM.50.6732250,LFOAM2U65MPG,"[Hill's Prescription Diet c/d dry in chicken, ..."

,row_count,platform,cat_id,q_id,text
36266,36907,typeform,UNMATCHED.fe1b6fd3c6c2a1290f67b43605dafbc4,LFOAM2U65MPG,"[Hills Science Diet, Beef or Fish flavours, Pu..."

,row_count,platform,cat_id,q_id,text
36361,37003,typeform,BJ.37.7368356,LFOAM2U65MPG,"[Purina Fancy Feast wet food, Purina Beyond dr..."

,row_count,platform,cat_id,q_id,text
37267,37910,typeform,BL.24.7047436,LFOAM2U65MPG,"[Science Diet Wet, Royal Canin Dry]"

,row_count,platform,cat_id,q_id,text
37304,37948,typeform,BJ.96.9946176,LFOAM2U65MPG,[Royal Canin Multifunction Urinary + Calm (mor...

,row_count,platform,cat_id,q_id,text
37908,38553,typeform,BJ.69.0109160,LFOAM2U65MPG,"[Iams Indoor Cat dry, Purina wet (various flav..."

,row_count,platform,cat_id,q_id,text
38021,38667,typeform,BJ.14.1908757,LFOAM2U65MPG,"[Purina cat chow, Purina Pro Plan, Fancy Feast..."

Empty DataFrame
Columns: [row_count, platform, cat_id, q_id, text]
Index: []

,row_count,platform,cat_id,q_id,text
38104,38752,typeform,BE.28.9648832,LFOAM2U65MPG,"[Iam Indoor Cat dry food, Purina wet food (var..."

,row_count,platform,cat_id,q_id,text
38198,38847,typeform,BL.29.8851965,wbGcTLMpw12F,"[Weruva:, Tuna & Beef, Tuna & Duck, Tuna & Lam..."

Empty DataFrame
Columns: [row_count, platform, cat_id, q_id, text]
Index: []

Empty DataFrame
Columns: [row_count, platform, cat_id, q_id, text]
Index: []

Empty DataFrame
Columns: [row_count, platform, cat_id, q_id, text]
Index: []

Empty DataFrame
Columns: [row_count, platform, cat_id, q_id, text]
Index: []

Empty DataFrame
Columns: [row_count, platform, cat_id, q_id, text]
Index: []

Empty DataFrame
Columns: [row_count, platform, cat_id, q_id, text]
Index: []

,row_count,platform,cat_id,q_id,text
38207,38863,typeform,BL.29.8851965,hmS4M9GrDfVG,"[Obsessive/compulsive groomer & hair puller, B..."

Empty DataFrame
Columns: [row_count, platform, cat_id, q_id, text]
Index: []

,row_count,platform,cat_id,q_id,text
40031,40689,typeform,UNMATCHED.89f5a342f63c94102cb882d5a3c5995a,LFOAM2U65MPG,"[Ziwipeak- lamb/rabbit, Feline Natural - chick..."

,row_count,platform,cat_id,q_id,text
41211,41870,typeform,DL.84.31001902240046,wbGcTLMpw12F,[Purina One Indoor Advantage or Vibrant Maturi...

Empty DataFrame
Columns: [row_count, platform, cat_id, q_id, text]
Index: []

,row_count,platform,cat_id,q_id,text
41283,41944,typeform,DL.92.31001812590711,wbGcTLMpw12F,"[Primal- Pork Bone Broth, Ziwipeak-Lamb, Nutri..."

Empty DataFrame
Columns: [row_count, platform, cat_id, q_id, text]
Index: []

Empty DataFrame
Columns: [row_count, platform, cat_id, q_id, text]
Index: []

Empty DataFrame
Columns: [row_count, platform, cat_id, q_id, text]
Index: []

,row_count,platform,cat_id,q_id,text
41479,42144,typeform,DQ.8.31001812151173,wbGcTLMpw12F,"[Purina pro plan urinary, Royal Canin hydroliz..."

,row_count,platform,cat_id,q_id,text
41595,42261,typeform,DM.26.31001902241435,wbGcTLMpw12F,"[Smallbatch Cat Chicken, Smallbatch Cat Turkey]"

,row_count,platform,cat_id,q_id,text
41884,42551,typeform,DM.27.31001902240089,wbGcTLMpw12F,"[Science Diet , Iams]"

,row_count,platform,cat_id,q_id,text
41959,42627,typeform,DN.52.31001902240520,wbGcTLMpw12F,"[Hills Z/D dry, purina one sensitive skin, Hil..."

Empty DataFrame
Columns: [row_count, platform, cat_id, q_id, text]
Index: []

,row_count,platform,cat_id,q_id,text
42230,42900,typeform,DO.14.31001902240497,wbGcTLMpw12F,"[Soulistic grain-free wet, Purina One sensitiv..."

,row_count,platform,cat_id,q_id,text
42594,43265,typeform,DF.79.0228667,hmS4M9GrDfVG,"[He is very vocal., He enjoys sitting on the e..."

,row_count,platform,cat_id,q_id,text
42706,43378,typeform,DF.78.0272260,hmS4M9GrDfVG,[He loves to burrow under blankets and clothin...

,row_count,platform,cat_id,q_id,text
42966,43639,typeform,AR.95.5193981,wbGcTLMpw12F,"[Tiki Cat, For wet he prefers the After Dark v..."

,row_count,platform,cat_id,q_id,text
43526,44200,typeform,AH.34.6119184,wbGcTLMpw12F,[Dry food: First Mate Chicken with Blueberries...

,row_count,platform,cat_id,q_id,text
43655,44330,typeform,CH.28.4698444,hmS4M9GrDfVG,[Our cat poops on the carpet for no apparent r...

,row_count,platform,cat_id,q_id,text
44350,45026,typeform,CH.77.6602143,hmS4M9GrDfVG,[Vocalizations - able to do call and response ...

Empty DataFrame
Columns: [row_count, platform, cat_id, q_id, text]
Index: []

,row_count,platform,cat_id,q_id,text
44436,45114,typeform,AU.50.1350413,hmS4M9GrDfVG,[She love love LOVES licking plastic. We're no...

Empty DataFrame
Columns: [row_count, platform, cat_id, q_id, text]
Index: []

Empty DataFrame
Columns: [row_count, platform, cat_id, q_id, text]
Index: []

,row_count,platform,cat_id,q_id,text
44756,45437,typeform,UNMATCHED.27bc321313eb91bab6e5d03d844ec27a,wbGcTLMpw12F,"[Blue buffalo, chicken, simply nourish turkey ..."

,row_count,platform,cat_id,q_id,text
44874,45556,typeform,AE.56.1817463,wbGcTLMpw12F,"[Wet - Sheba Perfect Portions, Beef, Turkey, C..."

,row_count,platform,cat_id,q_id,text
45095,45778,typeform,CA.55.2429558,wbGcTLMpw12F,"[Sheba Perfect Portions, Royal Canin Veterinar..."

,row_count,platform,cat_id,q_id,text
45376,46060,typeform,DB.14.31001902241021,hmS4M9GrDfVG,[She likes to sleep under the covers and most ...

Empty DataFrame
Columns: [row_count, platform, cat_id, q_id, text]
Index: []

Empty DataFrame
Columns: [row_count, platform, cat_id, q_id, text]
Index: []

,row_count,platform,cat_id,q_id,text
45377,46064,typeform,DB.14.31001902241021,wbGcTLMpw12F,"[Blue Wilderness Kitten Chicken dry food, Blue..."

,row_count,platform,cat_id,q_id,text
45382,46070,typeform,DB.16.31001902240269,wbGcTLMpw12F,"[Blue Wilderness Kitten chicken dry food, Blue..."

,row_count,platform,cat_id,q_id,text
45389,46078,typeform,DB.16.31001902240269,hmS4M9GrDfVG,[He likes to ride around on our shoulders and ...

,row_count,platform,cat_id,q_id,text
45478,46168,typeform,UNMATCHED.9b93cddd619da253cd7b8400c3c8392e,wbGcTLMpw12F,"[Purina Proplan indoor Turkey and Rice, Purina..."

,row_count,platform,cat_id,q_id,text
46889,47580,typeform,CD.90.9657442,wbGcTLMpw12F,"[Dry: Purina Cat Chow Adult, Moist: Sheba, Chi..."

,row_count,platform,cat_id,q_id,text
47502,48194,typeform,AR.60.8733058,hmS4M9GrDfVG,[He begs for food when I'm eating. His favorit...

,row_count,platform,cat_id,q_id,text
47833,48526,typeform,DH.70.31001812590516,hmS4M9GrDfVG,[I adopted Kikii from the animal control cente...

Empty DataFrame
Columns: [row_count, platform, cat_id, q_id, text]
Index: []

,row_count,platform,cat_id,q_id,text
48263,48958,typeform,AN.83.3746915,hmS4M9GrDfVG,"[Very vocal, talks to us during the day and ta..."

,row_count,platform,cat_id,q_id,text
48276,48972,typeform,AN.83.3746915,wbGcTLMpw12F,"[Nutro Max various poultry flavors (wet food),..."

,row_count,platform,cat_id,q_id,text
48382,49079,typeform,UNMATCHED.8aaf775ee4025bcd474507d891bc274d,wbGcTLMpw12F,"[Blue Buffalo Sensitive Stomach dry food, Fanc..."

,row_count,platform,cat_id,q_id,text
48504,49202,typeform,AD.44.DSC001345,wbGcTLMpw12F,"[Taste of the wild - Rocky Mountain Feline, Go..."

,row_count,platform,cat_id,q_id,text
48860,49559,typeform,UNMATCHED.7098824dde1ba74131c9b44d1260b67b,wbGcTLMpw12F,"[Chicken , Wevura , Science Diet, Solid Gold ]"

Empty DataFrame
Columns: [row_count, platform, cat_id, q_id, text]
Index: []

Empty DataFrame
Columns: [row_count, platform, cat_id, q_id, text]
Index: []

,row_count,platform,cat_id,q_id,text
49623,50325,typeform,UNMATCHED.8029a20c0ac941eb982b48d39d45090f,hmS4M9GrDfVG,"[He is not my own words, a dog in a cat‚Äôs body..."

Empty DataFrame
Columns: [row_count, platform, cat_id, q_id, text]
Index: []

Empty DataFrame
Columns: [row_count, platform, cat_id, q_id, text]
Index: []

,row_count,platform,cat_id,q_id,text
50151,50856,typeform,AJ.25.DSC001681,hmS4M9GrDfVG,[despises packaging tape and when I sneeze. Wi...

,row_count,platform,cat_id,q_id,text
50153,50859,typeform,AJ.25.DSC001681,wbGcTLMpw12F,"[FreshPet chicken and ocean whitefish, Halo tu..."

Empty DataFrame
Columns: [row_count, platform, cat_id, q_id, text]
Index: []

Empty DataFrame
Columns: [row_count, platform, cat_id, q_id, text]
Index: []

,row_count,platform,cat_id,q_id,text
50750,51459,typeform,UNMATCHED.382615b6794b21c538e0dac94c72fae0,wbGcTLMpw12F,"[Fancy Feast canned, Friskies Indoor dry]"

,row_count,platform,cat_id,q_id,text
50785,51495,typeform,CD.63.4565778,wbGcTLMpw12F,"[Hills Science Diet - dental formula, Nutrienc..."

,row_count,platform,cat_id,q_id,text
50940,51651,typeform,UNMATCHED.d6e2c47c0c6285c480feabd3a33c0647,wbGcTLMpw12F,"[Orijen, Crave, Blue Wilderness]"

Empty DataFrame
Columns: [row_count, platform, cat_id, q_id, text]
Index: []

,row_count,platform,cat_id,q_id,text
51099,51812,typeform,UNMATCHED.88c652174eefe748407912da99efe509,wbGcTLMpw12F,"[Fancy Feast canned foods, Friskies Indoors dr..."

,row_count,platform,cat_id,q_id,text
51163,51877,typeform,AV.25.4199749,wbGcTLMpw12F,"[fancy feast classic pate beef, Science diet c..."

,row_count,platform,cat_id,q_id,text
51173,51888,typeform,CM.76.31001812151528,hmS4M9GrDfVG,[Rosie and Chase urinate on top of the other's...

Empty DataFrame
Columns: [row_count, platform, cat_id, q_id, text]
Index: []

,row_count,platform,cat_id,q_id,text
51213,51930,typeform,CM.76.31001812151528,wbGcTLMpw12F,"[American Journey Salmon & Tuna, American Jour..."

Empty DataFrame
Columns: [row_count, platform, cat_id, q_id, text]
Index: []

,row_count,platform,cat_id,q_id,text
51505,52224,typeform,CM.83.31001812151679,wbGcTLMpw12F,"[American Journey Salmon Tuna, American Journe..."

Empty DataFrame
Columns: [row_count, platform, cat_id, q_id, text]
Index: []

,row_count,platform,cat_id,q_id,text
51684,52405,typeform,BC.78.6561474,wbGcTLMpw12F,"[Felix in jelly (tuna, beef, chicken, salmon),..."

Empty DataFrame
Columns: [row_count, platform, cat_id, q_id, text]
Index: []

Empty DataFrame
Columns: [row_count, platform, cat_id, q_id, text]
Index: []

,row_count,platform,cat_id,q_id,text
51705,52429,typeform,CH.4.7487102,hmS4M9GrDfVG,"[Zigzag cries to be picked up and held., He ge..."

Empty DataFrame
Columns: [row_count, platform, cat_id, q_id, text]
Index: []

,row_count,platform,cat_id,q_id,text
51729,52455,typeform,CH.4.7487102,btCvj0lVgwgB,[Zigzag is unbelievably gorgeous and sweet. H...

Empty DataFrame
Columns: [row_count, platform, cat_id, q_id, text]
Index: []

,row_count,platform,cat_id,q_id,text
51980,52708,typeform,AQ.33.2330058,wbGcTLMpw12F,"[Furina, meow mix, blue in dry. Chicken flavor..."

,row_count,platform,cat_id,q_id,text
52112,52841,typeform,AK.90.DSC001911,wbGcTLMpw12F,"[Avoderm canned food (all fish flavors), Hills..."

,row_count,platform,cat_id,q_id,text
52463,53193,typeform,AS.92.8033714,hmS4M9GrDfVG,[Tommy acts like a dog. He reacts to the door...

,row_count,platform,cat_id,q_id,text
52586,53317,typeform,AR.75.2853779,wbGcTLMpw12F,[Dry food: Science Diet Hairball Control Adult...

,row_count,platform,cat_id,q_id,text
52818,53550,typeform,UNMATCHED.81944c881189c33ec215390c3dd87026,wbGcTLMpw12F,"[Primary Brands I currently use are: , 1. Nat..."

Empty DataFrame
Columns: [row_count, platform, cat_id, q_id, text]
Index: []

Empty DataFrame
Columns: [row_count, platform, cat_id, q_id, text]
Index: []

Empty DataFrame
Columns: [row_count, platform, cat_id, q_id, text]
Index: []

Empty DataFrame
Columns: [row_count, platform, cat_id, q_id, text]
Index: []

Empty DataFrame
Columns: [row_count, platform, cat_id, q_id, text]
Index: []

Empty DataFrame
Columns: [row_count, platform, cat_id, q_id, text]
Index: []

Empty DataFrame
Columns: [row_count, platform, cat_id, q_id, text]
Index: []

Empty DataFrame
Columns: [row_count, platform, cat_id, q_id, text]
Index: []

Empty DataFrame
Columns: [row_count, platform, cat_id, q_id, text]
Index: []

Empty DataFrame
Columns: [row_count, platform, cat_id, q_id, text]
Index: []

Empty DataFrame
Columns: [row_count, platform, cat_id, q_id, text]
Index: []

Empty DataFrame
Columns: [row_count, platform, cat_id, q_id, text]
Index: []

Empty DataFrame
Columns: [row_count, platform, cat_id, q_id, text]
Index: []

Empty DataFrame
Columns: [row_count, platform, cat_id, q_id, text]
Index: []

Empty DataFrame
Columns: [row_count, platform, cat_id, q_id, text]
Index: []

Empty DataFrame
Columns: [row_count, platform, cat_id, q_id, text]
Index: []

Empty DataFrame
Columns: [row_count, platform, cat_id, q_id, text]
Index: []

Empty DataFrame
Columns: [row_count, platform, cat_id, q_id, text]
Index: []

,row_count,platform,cat_id,q_id,text
53440,54191,typeform,CT.18.31001812150555,wbGcTLMpw12F,"[Wellness, Solid gold, Blue wilderness]"

Empty DataFrame
Columns: [row_count, platform, cat_id, q_id, text]
Index: []

,row_count,platform,cat_id,q_id,text
53561,54314,typeform,BC.89.2059327,wbGcTLMpw12F,"[Friskies pate, purina cat chow naturals dry f..."

,row_count,platform,cat_id,q_id,text
54121,54875,typeform,UNMATCHED.3dbe3857ab2c74a958cacae9dab2af2a,wbGcTLMpw12F,"[Stella and Chewy, Turkey, chicken, duck, Eart..."

Empty DataFrame
Columns: [row_count, platform, cat_id, q_id, text]
Index: []

Empty DataFrame
Columns: [row_count, platform, cat_id, q_id, text]
Index: []

,row_count,platform,cat_id,q_id,text
54282,55039,typeform,BD.20.0486711,wbGcTLMpw12F,"[friskies, fancy feast, purina one]"

Empty DataFrame
Columns: [row_count, platform, cat_id, q_id, text]
Index: []

       row_count  platform          cat_id          q_id            text
54401      55160  typeform  AO.2.DSC002254  wbGcTLMpw12F  [Purina, Iams]

,row_count,platform,cat_id,q_id,text
54552,55312,typeform,UNMATCHED.fb2000f19e028d5ba50728319e4010b7,wbGcTLMpw12F,"[Stella and Chewy, Turkey, chicken, salmon, ra..."

,row_count,platform,cat_id,q_id,text
54819,55580,typeform,CN.57.31001902241323,wbGcTLMpw12F,"[Purina Indoor Advantage- dry , Wet- Weruva, W..."

,row_count,platform,cat_id,q_id,text
55803,56565,typeform,DI.38.31001902240906,wbGcTLMpw12F,"[Blue Wilderness, Organix, Pristine]"

Empty DataFrame
Columns: [row_count, platform, cat_id, q_id, text]
Index: []

,row_count,platform,cat_id,q_id,text
56786,57550,typeform,DE.77.31001812590334,wbGcTLMpw12F,"[Feline Natural, Weruva Glam and Punk, Stella ..."

Empty DataFrame
Columns: [row_count, platform, cat_id, q_id, text]
Index: []

,row_count,platform,cat_id,q_id,text
56954,57720,typeform,AG.36.DSC001604,wbGcTLMpw12F,"[Simply Nourish (indoor: chicken and oatmeal, ..."

,row_count,platform,cat_id,q_id,text
57790,58557,typeform,AT.15.6415198,hmS4M9GrDfVG,"[He loves bread products if he can steal them,..."

Empty DataFrame
Columns: [row_count, platform, cat_id, q_id, text]
Index: []

Empty DataFrame
Columns: [row_count, platform, cat_id, q_id, text]
Index: []

,row_count,platform,cat_id,q_id,text
57808,58578,typeform,AT.15.6415198,wbGcTLMpw12F,"[Weruva various Chicken flavours (wet), Natura..."

       row_count  platform           cat_id          q_id             text
58027      58798  typeform  CG.82.DSC002328  wbGcTLMpw12F  [Chicken, Tuna]

,row_count,platform,cat_id,q_id,text
58114,58886,typeform,BG.65.3270924,wbGcTLMpw12F,"[chicken, duck, lamb, beef, quail, turkey, rab..."

Empty DataFrame
Columns: [row_count, platform, cat_id, q_id, text]
Index: []

Empty DataFrame
Columns: [row_count, platform, cat_id, q_id, text]
Index: []

Empty DataFrame
Columns: [row_count, platform, cat_id, q_id, text]
Index: []

Empty DataFrame
Columns: [row_count, platform, cat_id, q_id, text]
Index: []

Empty DataFrame
Columns: [row_count, platform, cat_id, q_id, text]
Index: []

,row_count,platform,cat_id,q_id,text
58366,59144,typeform,AM.87.DSC002118,wbGcTLMpw12F,[Wet: Earthborne Harbor Harvest & Monterey Med...

,row_count,platform,cat_id,q_id,text
58913,59692,typeform,BL.65.7385894,wbGcTLMpw12F,"[Crave, Nutrish, Fancy Feast, salmon, chicken,..."

,row_count,platform,cat_id,q_id,text
59249,60029,typeform,UNMATCHED.b80daea7c6efa5461f2c030c955e113b,hmS4M9GrDfVG,[He much prefers men over women even though he...

Empty DataFrame
Columns: [row_count, platform, cat_id, q_id, text]
Index: []

,row_count,platform,cat_id,q_id,text
59250,60032,typeform,UNMATCHED.b80daea7c6efa5461f2c030c955e113b,wbGcTLMpw12F,"[PVD OM dry and wet., PVD Dental health dry]"

,row_count,platform,cat_id,q_id,text
59350,60133,typeform,AJ.14.DSC001711,hmS4M9GrDfVG,[Gherkin constantly tries to lick his sisters ...

Empty DataFrame
Columns: [row_count, platform, cat_id, q_id, text]
Index: []

,row_count,platform,cat_id,q_id,text
59540,60325,typeform,BD.31.1032923,wbGcTLMpw12F,"[Pure Vita - Salmon, Pure vita - Chicken, Blue..."

Empty DataFrame
Columns: [row_count, platform, cat_id, q_id, text]
Index: []

Empty DataFrame
Columns: [row_count, platform, cat_id, q_id, text]
Index: []

Empty DataFrame
Columns: [row_count, platform, cat_id, q_id, text]
Index: []

,row_count,platform,cat_id,q_id,text
59578,60367,typeform,DF.86.31001812590101,hmS4M9GrDfVG,"[She likes her FastCat wheel, She has eaten ho..."

Empty DataFrame
Columns: [row_count, platform, cat_id, q_id, text]
Index: []

Empty DataFrame
Columns: [row_count, platform, cat_id, q_id, text]
Index: []

Empty DataFrame
Columns: [row_count, platform, cat_id, q_id, text]
Index: []

,row_count,platform,cat_id,q_id,text
59606,60399,typeform,DF.86.31001812590101,wbGcTLMpw12F,"[Royal Canin HD Dry, Royal Canin PR Wet]"

,row_count,platform,cat_id,q_id,text
59828,60622,typeform,UNMATCHED.a9b9cec67ffd43a900c6aaa8e6963b11,wbGcTLMpw12F,"[Royal Canin kitten dry, Various kitten formul..."

,row_count,platform,cat_id,q_id,text
60521,61316,typeform,UNMATCHED.e77cc37c217f694871877f53239cf5d6,wbGcTLMpw12F,"[Pure Vita - Salmon & Peas, Pure Vita - Chicke..."

Empty DataFrame
Columns: [row_count, platform, cat_id, q_id, text]
Index: []

Empty DataFrame
Columns: [row_count, platform, cat_id, q_id, text]
Index: []

Empty DataFrame
Columns: [row_count, platform, cat_id, q_id, text]
Index: []

Empty DataFrame
Columns: [row_count, platform, cat_id, q_id, text]
Index: []

Empty DataFrame
Columns: [row_count, platform, cat_id, q_id, text]
Index: []

Empty DataFrame
Columns: [row_count, platform, cat_id, q_id, text]
Index: []

,row_count,platform,cat_id,q_id,text
61664,62466,typeform,UNMATCHED.530d1e5a116609b8c2d58bdf6f058aa7,wbGcTLMpw12F,"[Halo, instinct, natural balance, Fromm, merri..."

,row_count,platform,cat_id,q_id,text
61943,62746,typeform,BU.34.1375475,wbGcTLMpw12F,"[Fancy Feast, Seafood, beef, chicken]"

,row_count,platform,cat_id,q_id,text
62240,63044,typeform,AH.49.2233848,wbGcTLMpw12F,[Science Diet Senior Dry food only one flavor ...

,row_count,platform,cat_id,q_id,text
62408,63213,typeform,AC.25.DSC001209,wbGcTLMpw12F,"[Science diet hairball formula, Friskies wet]"

,row_count,platform,cat_id,q_id,text
62524,63330,typeform,DI.57.31001812150044,wbGcTLMpw12F,"[Kit Cat Classic and Goat's Milk, Aixia Kin Ca..."

Empty DataFrame
Columns: [row_count, platform, cat_id, q_id, text]
Index: []

Empty DataFrame
Columns: [row_count, platform, cat_id, q_id, text]
Index: []

Empty DataFrame
Columns: [row_count, platform, cat_id, q_id, text]
Index: []

Empty DataFrame
Columns: [row_count, platform, cat_id, q_id, text]
Index: []

Empty DataFrame
Columns: [row_count, platform, cat_id, q_id, text]
Index: []

,row_count,platform,cat_id,q_id,text
63200,64012,typeform,BY.71.6858852,btCvj0lVgwgB,[Part 1 question 31 the answers didn't apply. ...

Empty DataFrame
Columns: [row_count, platform, cat_id, q_id, text]
Index: []

Empty DataFrame
Columns: [row_count, platform, cat_id, q_id, text]
Index: []

,row_count,platform,cat_id,q_id,text
63340,64155,typeform,CR.64.31001812150401,hmS4M9GrDfVG,[He likes the vacuum - joins us to watch while...

,row_count,platform,cat_id,q_id,text
63614,64430,typeform,BZ.21.4993836,wbGcTLMpw12F,"[Purina gravy lovers, Royal Canin SO]"

,row_count,platform,cat_id,q_id,text
64256,65073,typeform,AD.42.DSC001208,wbGcTLMpw12F,"[Science diet RX food sensitivity dry, BFF wet..."

,row_count,platform,cat_id,q_id,text
64869,65687,typeform,BT.39.5436492,hmS4M9GrDfVG,[Cecilia has taught all the other cats in the ...

Empty DataFrame
Columns: [row_count, platform, cat_id, q_id, text]
Index: []

,row_count,platform,cat_id,q_id,text
65318,66138,typeform,BS.69.3408646,wbGcTLMpw12F,[Hill Prescription Diet Z/D & D/D Can wet food...

,row_count,platform,cat_id,q_id,text
66160,66981,typeform,AU.34.2888095,wbGcTLMpw12F,"[Friskies wet food (shreds/filets), Meow Mix d..."

,row_count,platform,cat_id,q_id,text
67446,68268,typeform,BV.42.3073552,hmS4M9GrDfVG,"[Chews on blankets, clothes, plastics bags (pi..."

Empty DataFrame
Columns: [row_count, platform, cat_id, q_id, text]
Index: []

,row_count,platform,cat_id,q_id,text
68381,69205,typeform,BQ.63.5555143,wbGcTLMpw12F,"[Friskies Pate wet food, Hills science diet ur..."

,row_count,platform,cat_id,q_id,text
68556,69381,typeform,CE.8.4132473,wbGcTLMpw12F,"[Blue Buffalo Indoor Adult (dry food), Fancy F..."

Empty DataFrame
Columns: [row_count, platform, cat_id, q_id, text]
Index: []

,row_count,platform,cat_id,q_id,text
69176,70003,typeform,AP.45.4311806,wbGcTLMpw12F,"[Wellness and Wellness Core, Weruva, Petcurean..."

Empty DataFrame
Columns: [row_count, platform, cat_id, q_id, text]
Index: []

Empty DataFrame
Columns: [row_count, platform, cat_id, q_id, text]
Index: []

Empty DataFrame
Columns: [row_count, platform, cat_id, q_id, text]
Index: []

Empty DataFrame
Columns: [row_count, platform, cat_id, q_id, text]
Index: []

Empty DataFrame
Columns: [row_count, platform, cat_id, q_id, text]
Index: []

Empty DataFrame
Columns: [row_count, platform, cat_id, q_id, text]
Index: []

Empty DataFrame
Columns: [row_count, platform, cat_id, q_id, text]
Index: []

Empty DataFrame
Columns: [row_count, platform, cat_id, q_id, text]
Index: []

,row_count,platform,cat_id,q_id,text
69239,70075,typeform,UNMATCHED.d8009e005012dfc7509d505aae06e21b,wbGcTLMpw12F,"[Friskies-mostly ""meat bits"" variety pack, sea..."

,row_count,platform,cat_id,q_id,text
69331,70168,typeform,UNMATCHED.e4841c749aaecbb67a2ddc9684dedc63,wbGcTLMpw12F,"[Friskies Dry Seafood Medley, Blue Buffalo Dry..."

Empty DataFrame
Columns: [row_count, platform, cat_id, q_id, text]
Index: []

,row_count,platform,cat_id,q_id,text
69343,70182,typeform,UNMATCHED.e4841c749aaecbb67a2ddc9684dedc63,hmS4M9GrDfVG,[He tries to be friends with almost every cat ...

Empty DataFrame
Columns: [row_count, platform, cat_id, q_id, text]
Index: []

,row_count,platform,cat_id,q_id,text
69541,70382,typeform,BR.57.4481094,wbGcTLMpw12F,"[Crave, Sheba, Blue, Chicken , Turkey, Salmon]"

Empty DataFrame
Columns: [row_count, platform, cat_id, q_id, text]
Index: []

Empty DataFrame
Columns: [row_count, platform, cat_id, q_id, text]
Index: []

Empty DataFrame
Columns: [row_count, platform, cat_id, q_id, text]
Index: []

Empty DataFrame
Columns: [row_count, platform, cat_id, q_id, text]
Index: []

       row_count  platform         cat_id          q_id              text
69614      70460  typeform  AW.93.7367412  wbGcTLMpw12F  [purina, weruva]

,row_count,platform,cat_id,q_id,text
69643,70490,typeform,DG.40.31001902242515,wbGcTLMpw12F,"[Fancy Feast Wet Food- only Turkey, Chicken, a..."

,row_count,platform,cat_id,q_id,text
69989,70837,typeform,BE.92.9523367,wbGcTLMpw12F,"[Purina Pro Plan Gravy wet food,, Hills Scienc..."

,row_count,platform,cat_id,q_id,text
70092,70941,typeform,CS.68.31001812151289,wbGcTLMpw12F,"[Rawz dry salmon , Rawz wet canned, Tiki Cat w..."

Empty DataFrame
Columns: [row_count, platform, cat_id, q_id, text]
Index: []

Empty DataFrame
Columns: [row_count, platform, cat_id, q_id, text]
Index: []

Empty DataFrame
Columns: [row_count, platform, cat_id, q_id, text]
Index: []

Empty DataFrame
Columns: [row_count, platform, cat_id, q_id, text]
Index: []

,row_count,platform,cat_id,q_id,text
70209,71063,typeform,UNMATCHED.e6da4ba98dda82dcc5628b54c36fbbd1,wbGcTLMpw12F,"[Solid Gold Lamb, Raw meat/bone/liver 80/10/10]"

,row_count,platform,cat_id,q_id,text
70402,71257,typeform,DH.41.31001812150581,wbGcTLMpw12F,[Hill's Science Diet Adult Sensitive Stomach &...

,row_count,platform,cat_id,q_id,text
71085,71941,typeform,AU.35.3191645,wbGcTLMpw12F,"[Friskies wet (shreds/filets) food, various fl..."

,row_count,platform,cat_id,q_id,text
71332,72189,typeform,UNMATCHED.b8418daa30876e9b3a9dd2af0d645221,wbGcTLMpw12F,"[Tiki Cat (chicken, chicken/duck, chicken/egg,..."

,row_count,platform,cat_id,q_id,text
72469,73327,typeform,UNMATCHED.f86451479d227a8ff780d26e3cb3fedb,wbGcTLMpw12F,"[Weruva wet food, Wellness dry food]"

,row_count,platform,cat_id,q_id,text
72725,73584,typeform,UNMATCHED.95035ae64a07b364fe218e2ce6a4a1d2,wbGcTLMpw12F,"[Science Diet - Chicken, Purina - Chicken]"

,row_count,platform,cat_id,q_id,text
72767,73627,typeform,BS.30.4487144,wbGcTLMpw12F,"[Blue , Sheba, Crave, Chicken, Salmon, Turkey]"

Empty DataFrame
Columns: [row_count, platform, cat_id, q_id, text]
Index: []

Empty DataFrame
Columns: [row_count, platform, cat_id, q_id, text]
Index: []

Empty DataFrame
Columns: [row_count, platform, cat_id, q_id, text]
Index: []

Empty DataFrame
Columns: [row_count, platform, cat_id, q_id, text]
Index: []

,row_count,platform,cat_id,q_id,text
72859,73724,typeform,UNMATCHED.c6c366c690a82795104f5e693f8758a5,wbGcTLMpw12F,"[ABOUND Chicken & Brown Rice Cat Food (dry) , ..."

,row_count,platform,cat_id,q_id,text
72938,73804,typeform,UNMATCHED.ef1002b032e4426fb438b117727f90c8,wbGcTLMpw12F,"[Solid Gold, Blue Buffalo]"

,row_count,platform,cat_id,q_id,text
73398,74265,typeform,BC.59.1554233,wbGcTLMpw12F,"[Blue Buffalo Indoor Adult (dry food), Fancy F..."

Empty DataFrame
Columns: [row_count, platform, cat_id, q_id, text]
Index: []

,row_count,platform,cat_id,q_id,text
73725,74594,typeform,BE.91.3429399,wbGcTLMpw12F,"[Blue Buffalo- tuna, chicken and trout, Merric..."

,row_count,platform,cat_id,q_id,text
73910,74780,typeform,UNMATCHED.6440c543f4c839dd3b82850b286dce77,hmS4M9GrDfVG,[He doesn't mind when the dog gums his head (a...

Empty DataFrame
Columns: [row_count, platform, cat_id, q_id, text]
Index: []

,row_count,platform,cat_id,q_id,text
74189,75061,typeform,BO.47.2572462,wbGcTLMpw12F,[Royal Canin Mobility diet dry and PVD Dental ...

,row_count,platform,cat_id,q_id,text
74613,75486,typeform,UNMATCHED.8e45cb234a996e99813374ce36a2e793,wbGcTLMpw12F,[Urinary prescription dry food only chicken fl...

,row_count,platform,cat_id,q_id,text
75192,76066,typeform,DF.90.31001812141096,wbGcTLMpw12F,"[Friskies, Purina One]"

,row_count,platform,cat_id,q_id,text
75690,76565,typeform,DH.80.31001812590668,hmS4M9GrDfVG,[He knows how to hide objects and can play she...

,row_count,platform,cat_id,q_id,text
75691,76567,typeform,DH.80.31001812590668,wbGcTLMpw12F,"[Orijen, six fish, Natural Choice, chicken]"

,row_count,platform,cat_id,q_id,text
75696,76573,typeform,DH.80.31001812590668,btCvj0lVgwgB,"[No, thank you for those, interesting questio..."

,row_count,platform,cat_id,q_id,text
75945,76823,typeform,DG.77.31001812150345,wbGcTLMpw12F,"[Fancy Feast Pate, Friskies Pate, Hills Renal ..."

Empty DataFrame
Columns: [row_count, platform, cat_id, q_id, text]
Index: []

,row_count,platform,cat_id,q_id,text
77088,77968,typeform,UNMATCHED.8e18388a1860204966fa964ebd609003,hmS4M9GrDfVG,"[Smokey does have a heart murmur. , Smokey lov..."

,row_count,platform,cat_id,q_id,text
78089,78970,typeform,DK.74.DSC017084,wbGcTLMpw12F,"[Fancy Feast Pate (Chicken, turkey, beef), She..."

Empty DataFrame
Columns: [row_count, platform, cat_id, q_id, text]
Index: []

,row_count,platform,cat_id,q_id,text
78208,79091,typeform,CV.26.31001902242191,wbGcTLMpw12F,"[Royal Canin (dry food only, , Rabbit and Pea)..."

Empty DataFrame
Columns: [row_count, platform, cat_id, q_id, text]
Index: []

,row_count,platform,cat_id,q_id,text
78531,79416,typeform,DZ.5.31001812590538,hmS4M9GrDfVG,[She catches Temptation treats with her paws t...

,row_count,platform,cat_id,q_id,text
78637,79523,typeform,CT.39.31001812151395,hmS4M9GrDfVG,[I am very allergic to cats and Azura does not...

Empty DataFrame
Columns: [row_count, platform, cat_id, q_id, text]
Index: []

,row_count,platform,cat_id,q_id,text
78821,79709,typeform,CZ.67.31001812140805,wbGcTLMpw12F,"[Weruva BFF - All Flavors, Instinct Ultimate P..."

,row_count,platform,cat_id,q_id,text
79646,80535,typeform,CP.14.31001812150155,wbGcTLMpw12F,"[Open Farm Beef Rustic Stew (wet), Pure Vita B..."

Empty DataFrame
Columns: [row_count, platform, cat_id, q_id, text]
Index: []

,row_count,platform,cat_id,q_id,text
80856,81747,typeform,DO.39.31001902241405,wbGcTLMpw12F,"[Costco Brand Dry food - Chicken, Friskies wet..."

,row_count,platform,cat_id,q_id,text
81408,82300,typeform,UNMATCHED.88f3ff7fe6dc1ed0094a7da0bb7b194d,wbGcTLMpw12F,"[fancy feast grilled beef & poultry, Blue Sens..."

,row_count,platform,cat_id,q_id,text
83016,83909,typeform,DM.7.31001902240469,hmS4M9GrDfVG,[He LOVES playing fetch (we didn't even teach ...

Empty DataFrame
Columns: [row_count, platform, cat_id, q_id, text]
Index: []

Empty DataFrame
Columns: [row_count, platform, cat_id, q_id, text]
Index: []

Empty DataFrame
Columns: [row_count, platform, cat_id, q_id, text]
Index: []

Empty DataFrame
Columns: [row_count, platform, cat_id, q_id, text]
Index: []

Empty DataFrame
Columns: [row_count, platform, cat_id, q_id, text]
Index: []

,row_count,platform,cat_id,q_id,text
83255,84154,typeform,DS.68.31001902241660,wbGcTLMpw12F,"[Dry Food: Blue Buffalo grain free, Wet Food: ..."

,row_count,platform,cat_id,q_id,text
83375,84275,typeform,BT.64.4339106,wbGcTLMpw12F,"[Tiki Cat, Chicken, lamb, duck, salmon, tilapia]"

,row_count,platform,cat_id,q_id,text
83760,84661,typeform,UNMATCHED.7fea95313d1577efda72a52a8fcbfec3,hmS4M9GrDfVG,[Spider was my bottle baby who was orphaned af...

Empty DataFrame
Columns: [row_count, platform, cat_id, q_id, text]
Index: []

,row_count,platform,cat_id,q_id,text
84441,85344,typeform,UNMATCHED.053889e6fb4f0ac5e671fa0674824c16,wbGcTLMpw12F,"[Friskies supreme supper, Friskies mixed grill..."

Empty DataFrame
Columns: [row_count, platform, cat_id, q_id, text]
Index: []

Empty DataFrame
Columns: [row_count, platform, cat_id, q_id, text]
Index: []

,row_count,platform,cat_id,q_id,text
84547,85453,typeform,BV.82.6679480,wbGcTLMpw12F,"[Dry food - Candidae, Wet food - Variety, but ..."

,row_count,platform,cat_id,q_id,text
84734,85641,typeform,AZ.71.6397661,wbGcTLMpw12F,"[Wet food: Purina Pro-Plan, Nutro, Sheba, Fanc..."

,row_count,platform,cat_id,q_id,text
84799,85707,typeform,DH.69.31001812590384,hmS4M9GrDfVG,"[Nola is a quiet cat, with the exception that ..."

Empty DataFrame
Columns: [row_count, platform, cat_id, q_id, text]
Index: []

,row_count,platform,cat_id,q_id,text
85626,86536,typeform,UNMATCHED.0605ecb9647006fcf2bea2ed0b275ada,wbGcTLMpw12F,"[He loves all food., Wet food, is high quality..."

,row_count,platform,cat_id,q_id,text
86425,87336,typeform,BG.64.3292283,wbGcTLMpw12F,"[chicken, duck, lamb, turkey, kangaroo, veniso..."

Empty DataFrame
Columns: [row_count, platform, cat_id, q_id, text]
Index: []

Empty DataFrame
Columns: [row_count, platform, cat_id, q_id, text]
Index: []

Empty DataFrame
Columns: [row_count, platform, cat_id, q_id, text]
Index: []

Empty DataFrame
Columns: [row_count, platform, cat_id, q_id, text]
Index: []

Empty DataFrame
Columns: [row_count, platform, cat_id, q_id, text]
Index: []

Empty DataFrame
Columns: [row_count, platform, cat_id, q_id, text]
Index: []

Empty DataFrame
Columns: [row_count, platform, cat_id, q_id, text]
Index: []

,row_count,platform,cat_id,q_id,text
87389,88308,typeform,AH.84.3171317,hmS4M9GrDfVG,"[Lily is sweet and calm, Natures. She‚Äôs a good..."

,row_count,platform,cat_id,q_id,text
87675,88595,typeform,DH.75.31001902241374,wbGcTLMpw12F,[Weruva Truluxe Steak Frites with Beef & Pumpk...

Empty DataFrame
Columns: [row_count, platform, cat_id, q_id, text]
Index: []

,row_count,platform,cat_id,q_id,text
87762,88684,typeform,BO.79.5800683,wbGcTLMpw12F,"[Friskies wet pate, Science diet urinary stree..."

,row_count,platform,cat_id,q_id,text
88342,89265,typeform,UNMATCHED.3c8617d85784cabc2f650699beff2bba,wbGcTLMpw12F,"[Science Diet Hairball control, Chicken pate, ..."

Empty DataFrame
Columns: [row_count, platform, cat_id, q_id, text]
Index: []

,row_count,platform,cat_id,q_id,text
88347,89272,typeform,UNMATCHED.3c8617d85784cabc2f650699beff2bba,hmS4M9GrDfVG,[Teddy is an indoor cat but we let him out in ...

Empty DataFrame
Columns: [row_count, platform, cat_id, q_id, text]
Index: []

Empty DataFrame
Columns: [row_count, platform, cat_id, q_id, text]
Index: []

Empty DataFrame
Columns: [row_count, platform, cat_id, q_id, text]
Index: []

,row_count,platform,cat_id,q_id,text
88796,89725,typeform,CT.58.31001902242307,wbGcTLMpw12F,"[American Journey Dry Salmon, American Journey..."

Empty DataFrame
Columns: [row_count, platform, cat_id, q_id, text]
Index: []

,row_count,platform,cat_id,q_id,text
89094,90025,typeform,UNMATCHED.dd7ab1e5b1d970ef5320c5293ddbe857,wbGcTLMpw12F,"[Instinct Rabbit Dry Limited Ingredient, Weruv..."

,row_count,platform,cat_id,q_id,text
89314,90246,typeform,CL.30.4925365,wbGcTLMpw12F,"[Fromm dry food - all flavors (beef, rabbit, d..."

,row_count,platform,cat_id,q_id,text
89715,90648,typeform,CT.29.31001902240752,hmS4M9GrDfVG,[Duck loves male cats and weirdly hates female...

Empty DataFrame
Columns: [row_count, platform, cat_id, q_id, text]
Index: []

,row_count,platform,cat_id,q_id,text
89726,90661,typeform,CT.29.31001902240752,wbGcTLMpw12F,[Royal Canin Prescription Diet Urinary + Calm ...

,row_count,platform,cat_id,q_id,text
89748,90684,typeform,CU.8.31001812151345,hmS4M9GrDfVG,[He thrives to go for car rides and walk on hi...

Empty DataFrame
Columns: [row_count, platform, cat_id, q_id, text]
Index: []

,row_count,platform,cat_id,q_id,text
89761,90699,typeform,CU.8.31001812151345,wbGcTLMpw12F,[Royal Canin Veterinary Prescription Diet Urin...

,row_count,platform,cat_id,q_id,text
91084,92023,typeform,GP.26.31001910032184,eW3J7scoPD6w,"[She is four time polydacty, with extra toes o..."

Empty DataFrame
Columns: [row_count, platform, cat_id, q_id, text]
Index: []

,row_count,platform,cat_id,q_id,text
91458,92399,typeform,UNMATCHED.577572cbc77c3894059fcfb7cf764f11,Ijwykhbx7Cnp,"[Royal Canin, Wellness, Merrick, Weruva, Insti..."

Empty DataFrame
Columns: [row_count, platform, cat_id, q_id, text]
Index: []

Empty DataFrame
Columns: [row_count, platform, cat_id, q_id, text]
Index: []

Empty DataFrame
Columns: [row_count, platform, cat_id, q_id, text]
Index: []

,row_count,platform,cat_id,q_id,text
91585,92530,typeform,UNMATCHED.e4525b24aecec976750f2be779d86d8c,Ijwykhbx7Cnp,"[Weruva, Royal Canin, Merrick, Wellness, Insti..."

Empty DataFrame
Columns: [row_count, platform, cat_id, q_id, text]
Index: []

Empty DataFrame
Columns: [row_count, platform, cat_id, q_id, text]
Index: []

Empty DataFrame
Columns: [row_count, platform, cat_id, q_id, text]
Index: []

,row_count,platform,cat_id,q_id,text
93555,94504,typeform,UNMATCHED.7bcb6259993338ee483b36cd0ccfed16,Ijwykhbx7Cnp,"[Instinct Original grain free Chicken Kibble, ..."

Empty DataFrame
Columns: [row_count, platform, cat_id, q_id, text]
Index: []

,row_count,platform,cat_id,q_id,text
93684,94635,typeform,EG.57.DSC017060,Ijwykhbx7Cnp,"[Natural Balance Chicken dry food, Wellness Tu..."

,row_count,platform,cat_id,q_id,text
93701,94653,typeform,EG.57.DSC017060,vOgPNwryzoCj,[-he is obsessed with playing with a bird feat...

,row_count,platform,cat_id,q_id,text
93820,94773,typeform,DR.68.DSC017092,vOgPNwryzoCj,"[always looking for things to do, empty drawer..."

,row_count,platform,cat_id,q_id,text
93885,94839,typeform,DR.67.DSC017091,vOgPNwryzoCj,[-Likes to go to the lobby of a large apartmen...

Empty DataFrame
Columns: [row_count, platform, cat_id, q_id, text]
Index: []

,row_count,platform,cat_id,q_id,text
93977,94933,typeform,UNMATCHED.ba26022bfeec8ba673ca172ef154e371,Ijwykhbx7Cnp,"[Petguard Dry Kitten and Cat Food, Petguard Pr..."

Empty DataFrame
Columns: [row_count, platform, cat_id, q_id, text]
Index: []

Empty DataFrame
Columns: [row_count, platform, cat_id, q_id, text]
Index: []

Empty DataFrame
Columns: [row_count, platform, cat_id, q_id, text]
Index: []

Empty DataFrame
Columns: [row_count, platform, cat_id, q_id, text]
Index: []

Empty DataFrame
Columns: [row_count, platform, cat_id, q_id, text]
Index: []

,row_count,platform,cat_id,q_id,text
94201,95163,typeform,UNMATCHED.21651396eea980ad75d100c5e8804012,Ijwykhbx7Cnp,"[Hare Today, RadCat, Steves brands; turkey, ch..."

,row_count,platform,cat_id,q_id,text
94292,95255,typeform,UNMATCHED.83bb778ac40341fa1c4c9899a5fd2c46,Ijwykhbx7Cnp,"[RadCat, Stella & Chewy, Steves, Vital Essenti..."

,row_count,platform,cat_id,q_id,text
94321,95285,typeform,UNMATCHED.7a1089f9edb0cdfa54e677c7db881b96,Ijwykhbx7Cnp,"[RadCat, Stella & Chewy, Steve's, Northwest Na..."

,row_count,platform,cat_id,q_id,text
94406,95371,typeform,UNMATCHED.11cbe1f7d329a9c9b95d861e7343221d,Ijwykhbx7Cnp,"[Fancy Feast, Pro Plan, Fussie Cat, Royal Cani..."

,row_count,platform,cat_id,q_id,text
94519,95485,typeform,UNMATCHED.eeea2c6db5e0437950614b91cde74a77,Ijwykhbx7Cnp,"[Clean Protein Salmon dry food, Clean Protein ..."

Empty DataFrame
Columns: [row_count, platform, cat_id, q_id, text]
Index: []

Empty DataFrame
Columns: [row_count, platform, cat_id, q_id, text]
Index: []

Empty DataFrame
Columns: [row_count, platform, cat_id, q_id, text]
Index: []

Empty DataFrame
Columns: [row_count, platform, cat_id, q_id, text]
Index: []

,row_count,platform,cat_id,q_id,text
94540,95511,typeform,DA.10.DSC002358,vOgPNwryzoCj,"[Munchkin cat, Very playful, never found a toy..."

,row_count,platform,cat_id,q_id,text
94596,95568,typeform,DA.10.DSC002358,Ijwykhbx7Cnp,"[Primal Pet Foods Frozen Nuggets:, Turkey, Chi..."

Empty DataFrame
Columns: [row_count, platform, cat_id, q_id, text]
Index: []

Empty DataFrame
Columns: [row_count, platform, cat_id, q_id, text]
Index: []

Empty DataFrame
Columns: [row_count, platform, cat_id, q_id, text]
Index: []

,row_count,platform,cat_id,q_id,text
94742,95718,typeform,UNMATCHED.98700a9764c7f9613aeb3b8eb23dc553,Ijwykhbx7Cnp,"[My Perfect Pet turkey gently cooked, KatManFo..."

Empty DataFrame
Columns: [row_count, platform, cat_id, q_id, text]
Index: []

,row_count,platform,cat_id,q_id,text
94935,95913,typeform,UNMATCHED.f4840f02077c96e29a5f1acb2e303baf,Ijwykhbx7Cnp,"[Flavor: chicken, turkey, salmon, tuna, Dry: O..."

Empty DataFrame
Columns: [row_count, platform, cat_id, q_id, text]
Index: []

Empty DataFrame
Columns: [row_count, platform, cat_id, q_id, text]
Index: []

,row_count,platform,cat_id,q_id,text
96550,97531,typeform,UNMATCHED.21656895fadced2d021a29a505c25bcd,Ijwykhbx7Cnp,"[Blue Buffalo dry , Nulo wet , Friskies wet]"

Empty DataFrame
Columns: [row_count, platform, cat_id, q_id, text]
Index: []

,row_count,platform,cat_id,q_id,text
96610,97593,typeform,UNMATCHED.a3b339df99c28c61aacab1cd891e29c9,Ijwykhbx7Cnp,"[Blue Buffalo Dry, Nulo Wet, Friskies Wet]"

Empty DataFrame
Columns: [row_count, platform, cat_id, q_id, text]
Index: []

,row_count,platform,cat_id,q_id,text
96900,97885,typeform,UNMATCHED.be8b9bbc90784f0f1295b0785c2ecdeb,wbGcTLMpw12F,"[Iams weight and fur ball control , Fancy Feas..."

,row_count,platform,cat_id,q_id,text
97336,98322,typeform,UNMATCHED.1bd1c8e573641599e264481fe1c2c930,hmS4M9GrDfVG,[She poops blood/diarrhea when she eats dry ca...

,row_count,platform,cat_id,q_id,text
98101,99088,typeform,GN.80.31001907061938,hmS4M9GrDfVG,"[She doesn't meow, she ""meeeps"", She's excepti..."

,row_count,platform,cat_id,q_id,text
98569,99557,typeform,UNMATCHED.d195c04117ac04d1596067849acba10d,btCvj0lVgwgB,[I was unsure how to answer the white feet and...

,row_count,platform,cat_id,q_id,text
98669,99658,typeform,UNMATCHED.6017588d31e2c82a23616038fe21b920,wbGcTLMpw12F,"[Purina naturals dry, Sheba wet , Nom nom now ..."

Empty DataFrame
Columns: [row_count, platform, cat_id, q_id, text]
Index: []

,row_count,platform,cat_id,q_id,text
99269,100260,typeform,GD.5.31001907050217,wbGcTLMpw12F,"[Friskies, Meow Mix, Seafood, Chicken]"

Empty DataFrame
Columns: [row_count, platform, cat_id, q_id, text]
Index: []

Empty DataFrame
Columns: [row_count, platform, cat_id, q_id, text]
Index: []

,row_count,platform,cat_id,q_id,text
99699,100693,typeform,GG.58.31001907061190,wbGcTLMpw12F,[Royal Canin Feline Health Nutrition Indoor Ad...

,row_count,platform,cat_id,q_id,text
100088,101083,typeform,GC.61.31001907062205,wbGcTLMpw12F,"[I and Love and You - chicken, Purina Grain Fr..."

,row_count,platform,cat_id,q_id,text
100294,101290,typeform,UNMATCHED.0c312dcf0a8dd62f94952deb26603262,wbGcTLMpw12F,"[Frisky indoor dry blend, Frisky meaty variety..."

,row_count,platform,cat_id,q_id,text
102188,103185,typeform,KR.36.31002005114454,wbGcTLMpw12F,"[Cat chow natural , Chicken flovor]"

,row_count,platform,cat_id,q_id,text
107859,108857,typeform,GQ.10.31001910031282,wbGcTLMpw12F,[Hills Science Diet senstive skin and stomach ...

,row_count,platform,cat_id,q_id,text
123202,124201,typeform,EZ.17.31001910024795,wbGcTLMpw12F,"[Rachel Ray dry food, Sheba (cuts only) wet, t..."

Empty DataFrame
Columns: [row_count, platform, cat_id, q_id, text]
Index: []

,row_count,platform,cat_id,q_id,text
129264,130265,typeform,AW.54.3114673,wbGcTLMpw12F,"[smallbatch, vital essentials, rawr, stella & ..."

Empty DataFrame
Columns: [row_count, platform, cat_id, q_id, text]
Index: []

Empty DataFrame
Columns: [row_count, platform, cat_id, q_id, text]
Index: []

,row_count,platform,cat_id,q_id,text
133508,134512,typeform,EC.84.31001907050365,hmS4M9GrDfVG,"[She plays fetch, She sits sprawled on chair b..."

,row_count,platform,cat_id,q_id,text
135489,136494,typeform,CZ.1.31001812151424,hmS4M9GrDfVG,"[He has pretty large ears!, He's very shy and ..."

Empty DataFrame
Columns: [row_count, platform, cat_id, q_id, text]
Index: []

,row_count,platform,cat_id,q_id,text
135494,136501,typeform,CZ.1.31001812151424,wbGcTLMpw12F,"[Buffalo Blue Dry Food (Chicken / Salmon), Wer..."

,row_count,platform,cat_id,q_id,text
135661,136669,typeform,CU.3.31001902241970,wbGcTLMpw12F,"[Orijen dry, Merrick wet]"

,row_count,platform,cat_id,q_id,text
137414,138423,typeform,CL.82.31001812151069,wbGcTLMpw12F,"[Science Diet-healthy weight, And Paul Newman ..."

,row_count,platform,cat_id,q_id,text
138622,139632,typeform,CP.24.31001812151070,wbGcTLMpw12F,"[Blue Buffalo, Purina, Tiny Tiger, Wervua Cats..."

,row_count,platform,cat_id,q_id,text
138998,140009,typeform,AQ.86.4342761,wbGcTLMpw12F,"[Blue Buffalo, Temptations Treats, Poultry fla..."

Empty DataFrame
Columns: [row_count, platform, cat_id, q_id, text]
Index: []

,row_count,platform,cat_id,q_id,text
139063,140076,typeform,DC.51.31001812151299,wbGcTLMpw12F,"[Science diet wet:turkey chicken, Royal canin ..."

Empty DataFrame
Columns: [row_count, platform, cat_id, q_id, text]
Index: []

,row_count,platform,cat_id,q_id,text
141173,142188,typeform,UNMATCHED.dceee3c018f14fa49f4abd53fa5f96e9,wbGcTLMpw12F,"[Wellness (wet) - chicken, Halo (wet) - chicke..."

Empty DataFrame
Columns: [row_count, platform, cat_id, q_id, text]
Index: []

Empty DataFrame
Columns: [row_count, platform, cat_id, q_id, text]
Index: []

Empty DataFrame
Columns: [row_count, platform, cat_id, q_id, text]
Index: []

,row_count,platform,cat_id,q_id,text
141852,142871,typeform,UNMATCHED.c5001e030b422d255fecf88f43745ea7,hmS4M9GrDfVG,[Ollie has furry nubs in front of each where s...

,row_count,platform,cat_id,q_id,text
142006,143026,typeform,DH.29.31001812151416,wbGcTLMpw12F,"[Blue buffalo, chicken, Fancy feast chicken ]"

,row_count,platform,cat_id,q_id,text
143208,144229,typeform,CQ.6.31001812590686,wbGcTLMpw12F,[1) Purina Pro Plan Indoor Care Turkey and Ric...

,row_count,platform,cat_id,q_id,text
143852,144874,typeform,CT.59.31001902241019,wbGcTLMpw12F,"[Dry: Royal Canin S/O, fromm chicken a la veg,..."

,row_count,platform,cat_id,q_id,text
145697,146720,typeform,UNMATCHED.0431befed61efcf6429b5722284a03fa,wbGcTLMpw12F,"[Wellness soft food - no chicken, Royal Canin ..."

,row_count,platform,cat_id,q_id,text
146389,147413,typeform,UNMATCHED.51e9e00dc8286888b9b4406043794664,hmS4M9GrDfVG,"[He ""warble""-purrs (much deeper purr that soun..."

,row_count,platform,cat_id,q_id,text
146393,147418,typeform,UNMATCHED.51e9e00dc8286888b9b4406043794664,wbGcTLMpw12F,"[Purina True Nature, Purina Friskies, Purina P..."

Empty DataFrame
Columns: [row_count, platform, cat_id, q_id, text]
Index: []

,row_count,platform,cat_id,q_id,text
146663,147690,typeform,CR.33.DSC002421,wbGcTLMpw12F,[Purina One Healthy Metabolism dry food chicke...

        row_count  platform         cat_id          q_id                 text
146849     147877  typeform  CJ.15.9577440  wbGcTLMpw12F  [Wellness, Chicken]

,row_count,platform,cat_id,q_id,text
146964,147993,typeform,CE.32.2073106,hmS4M9GrDfVG,[- Moo was left outside when he was ~8 months ...

,row_count,platform,cat_id,q_id,text
147287,148317,typeform,UNMATCHED.f00da30f3ba0c3dc0d581501a785053f,wbGcTLMpw12F,"[Chicken, Turkey]"

,row_count,platform,cat_id,q_id,text
147851,148882,typeform,CJ.61.8956414,wbGcTLMpw12F,"[Royal Canin Instinctive wet food, Royal Canin..."

,row_count,platform,cat_id,q_id,text
147912,148944,typeform,CJ.19.7377344,wbGcTLMpw12F,"[Hills Prescription Diet Intestinal Diet , Ha..."

Empty DataFrame
Columns: [row_count, platform, cat_id, q_id, text]
Index: []

Empty DataFrame
Columns: [row_count, platform, cat_id, q_id, text]
Index: []

Empty DataFrame
Columns: [row_count, platform, cat_id, q_id, text]
Index: []

,row_count,platform,cat_id,q_id,text
150690,151726,typeform,UNMATCHED.ef1002b032e4426fb438b117727f90c8,wbGcTLMpw12F,"[Solid Gold, Stella and Chewy's]"

,row_count,platform,cat_id,q_id,text
151295,152332,typeform,CE.40.2468406,hmS4M9GrDfVG,[Hotaru ( Japanese for firefly) is substantial...

,row_count,platform,cat_id,q_id,text
151299,152337,typeform,CE.40.2468406,wbGcTLMpw12F,[Hills Gentle stomach and weight control ( Ch...

,row_count,platform,cat_id,q_id,text
151527,152566,typeform,CE.16.6039433,wbGcTLMpw12F,[Fancy Feasts Classic Wet Food (variety of fla...

Empty DataFrame
Columns: [row_count, platform, cat_id, q_id, text]
Index: []

,row_count,platform,cat_id,q_id,text
151867,152908,typeform,CF.8.9243874,wbGcTLMpw12F,"[Beyond grain free healthy weight..salmon,egg ..."

,row_count,platform,cat_id,q_id,text
152296,153338,typeform,CI.9.0112671,wbGcTLMpw12F,[Weruva BFF wet food - varieties of tuna/a sec...

,row_count,platform,cat_id,q_id,text
152402,153445,typeform,CI.10.0187571,wbGcTLMpw12F,[Weruva BFF wet food - varieties of tuna/1 oth...

,row_count,platform,cat_id,q_id,text
152684,153728,typeform,DF.80.4827291,wbGcTLMpw12F,"[Brand: Primal, Flavor: chicken and salmon]"

,row_count,platform,cat_id,q_id,text
152716,153761,typeform,DF.81.4855508,wbGcTLMpw12F,"[Brand: Primal, Flavor: chicken and salmon]"

,row_count,platform,cat_id,q_id,text
152923,153969,typeform,CJ.47.2167302,hmS4M9GrDfVG,"[She seems like she is always anxious, even th..."

Empty DataFrame
Columns: [row_count, platform, cat_id, q_id, text]
Index: []

,row_count,platform,cat_id,q_id,text
152981,154029,typeform,CH.89.2629859,wbGcTLMpw12F,"[Fancy Feast Medleys Primavera all flavors, Na..."

,row_count,platform,cat_id,q_id,text
153103,154152,typeform,CI.70.6718537,wbGcTLMpw12F,"[Purina, 9 Lives, Friskies]"

Empty DataFrame
Columns: [row_count, platform, cat_id, q_id, text]
Index: []

,row_count,platform,cat_id,q_id,text
153690,154741,typeform,CJ.2.1882209,wbGcTLMpw12F,"[Instinct Raw Boost, Duck]"

,row_count,platform,cat_id,q_id,text
154155,155207,typeform,CK.57.31001812140831,wbGcTLMpw12F,"[Blue Buffalo Wilderness, Friskies Indoor Vari..."

,row_count,platform,cat_id,q_id,text
154194,155247,typeform,CB.69.3503752,wbGcTLMpw12F,"[Wellness - Wet Kitten, Instinct - Dry Kitten]"

,row_count,platform,cat_id,q_id,text
154449,155503,typeform,CK.55.31001812150819,wbGcTLMpw12F,[various flavors of Whole-Hearted (petco brand...

,row_count,platform,cat_id,q_id,text
155704,156759,typeform,CG.6.7533553,hmS4M9GrDfVG,[Merry does not vocalize much. Only when he is...

,row_count,platform,cat_id,q_id,text
156223,157279,typeform,CK.47.31001812141090,btCvj0lVgwgB,[Lawless & Blackie are all black cats; their b...

,row_count,platform,cat_id,q_id,text
156268,157325,typeform,CH.64.3688698,wbGcTLMpw12F,"[Weruva, Wellness, Soulistic, Nature‚Äôs Variety]"

Empty DataFrame
Columns: [row_count, platform, cat_id, q_id, text]
Index: []

Empty DataFrame
Columns: [row_count, platform, cat_id, q_id, text]
Index: []

,row_count,platform,cat_id,q_id,text
156885,157945,typeform,UNMATCHED.670048338dccd2ca5f9e2c0f843b6116,wbGcTLMpw12F,"[Natures Variety Instinct (Chicken, Turkey, Ve..."

Empty DataFrame
Columns: [row_count, platform, cat_id, q_id, text]
Index: []

Empty DataFrame
Columns: [row_count, platform, cat_id, q_id, text]
Index: []

Empty DataFrame
Columns: [row_count, platform, cat_id, q_id, text]
Index: []

Empty DataFrame
Columns: [row_count, platform, cat_id, q_id, text]
Index: []

,row_count,platform,cat_id,q_id,text
156956,158021,typeform,UNMATCHED.1bedae2106ac31d61129f5e40413d9ac,wbGcTLMpw12F,"[Natures Variety Instinct (Chicken, Turkey, La..."

Empty DataFrame
Columns: [row_count, platform, cat_id, q_id, text]
Index: []

Empty DataFrame
Columns: [row_count, platform, cat_id, q_id, text]
Index: []

Empty DataFrame
Columns: [row_count, platform, cat_id, q_id, text]
Index: []

Empty DataFrame
Columns: [row_count, platform, cat_id, q_id, text]
Index: []

,row_count,platform,cat_id,q_id,text
157335,158405,typeform,BQ.6.3443040,btCvj0lVgwgB,[Luna only likes her dad. She gets very vocal ...

,row_count,platform,cat_id,q_id,text
157581,158652,typeform,BR.16.5092298,hmS4M9GrDfVG,[We truly believe Louie is a direct descendent...

Empty DataFrame
Columns: [row_count, platform, cat_id, q_id, text]
Index: []

        row_count  platform        cat_id          q_id                  text
157915     158988  typeform  BX.3.5284095  wbGcTLMpw12F  [Tuna, Cod, Chicken]

Empty DataFrame
Columns: [row_count, platform, cat_id, q_id, text]
Index: []

,row_count,platform,cat_id,q_id,text
158266,159341,typeform,BU.17.2603517,hmS4M9GrDfVG,"[he likes to play hide-n-seek with us, he alwa..."

Empty DataFrame
Columns: [row_count, platform, cat_id, q_id, text]
Index: []

,row_count,platform,cat_id,q_id,text
158438,159515,typeform,BU.65.3653431,wbGcTLMpw12F,"[Wet Food Fancy Feast; Fish flavors, Dry Food ..."

,row_count,platform,cat_id,q_id,text
158878,159956,typeform,UNMATCHED.7adeb67eaab3c9b436a6c09c63b4154e,wbGcTLMpw12F,"[firstmate, weruva, lotus, orijen]"

Empty DataFrame
Columns: [row_count, platform, cat_id, q_id, text]
Index: []

Empty DataFrame
Columns: [row_count, platform, cat_id, q_id, text]
Index: []

,row_count,platform,cat_id,q_id,text
158989,160070,typeform,BS.34.2328203,wbGcTLMpw12F,"[Purina indoor (dry), Sheba (wet), tuna, salmo..."

,row_count,platform,cat_id,q_id,text
159058,160140,typeform,BS.35.2361308,wbGcTLMpw12F,"[Purina indoor (dry), Sheba (wet), tuna, salmo..."

,row_count,platform,cat_id,q_id,text
159343,160426,typeform,BY.60.0520240,wbGcTLMpw12F,"[Purina One - Salmon, Sheba Perfect Portions -..."

,row_count,platform,cat_id,q_id,text
159983,161067,typeform,BS.15.1837912,hmS4M9GrDfVG,[insists on laying INCHES from your face whene...

,row_count,platform,cat_id,q_id,text
160112,161197,typeform,BP.57.7432362,wbGcTLMpw12F,"[Purina Pro Plan Kitten;, Wet: Various flavour..."

Empty DataFrame
Columns: [row_count, platform, cat_id, q_id, text]
Index: []

,row_count,platform,cat_id,q_id,text
160117,161204,typeform,BP.57.7432362,hmS4M9GrDfVG,"[Miaao is very talkative, trills and murmurs w..."

,row_count,platform,cat_id,q_id,text
161052,162140,typeform,EC.21.7457556,wbGcTLMpw12F,"[Dry: Natural Balance, Limited Ingredient Duck..."

,row_count,platform,cat_id,q_id,text
161389,162478,typeform,BU.96.8791576,wbGcTLMpw12F,"[Hills Science diet, dry, optimal care, Hills ..."

,row_count,platform,cat_id,q_id,text
162162,163252,typeform,BQ.65.7471902,wbGcTLMpw12F,[Purina Friskies Seafood Variety Pack Cat Food...

,row_count,platform,cat_id,q_id,text
162183,163274,typeform,BS.22.8614950,wbGcTLMpw12F,"[Science Diet - Chicken, Chicken and Liver, Tu..."

,row_count,platform,cat_id,q_id,text
162184,163276,typeform,BS.22.8614950,hmS4M9GrDfVG,[She gave birth to kittens either slightly bef...

,row_count,platform,cat_id,q_id,text
162413,163506,typeform,BS.10.5070529,wbGcTLMpw12F,"[Merrick Backcountry Dry kitten/Adult food., A..."

,row_count,platform,cat_id,q_id,text
170413,171507,typeform,CX.26.31001812590616,wbGcTLMpw12F,"[Fancy Feast Wet, Hills Science Diet Metabolic..."

        row_count  platform                cat_id          q_id      text
170552     171647  typeform  CW.31.31001812151033  hmS4M9GrDfVG  [, NONE]

,row_count,platform,cat_id,q_id,text
170617,171713,typeform,UNMATCHED.404d6994907126ed0a9940d72a8e383f,wbGcTLMpw12F,"[Dry Food : Royal canin ageing +12, Wet Food :..."

,row_count,platform,cat_id,q_id,text
170680,171777,typeform,UNMATCHED.25e5b132ff34404fda7bf662bc1e1fbf,wbGcTLMpw12F,"[Dry Food ( renal failure ) : Advance, Josera..."

Empty DataFrame
Columns: [row_count, platform, cat_id, q_id, text]
Index: []

,row_count,platform,cat_id,q_id,text
171027,172126,typeform,DB.35.31001812151560,hmS4M9GrDfVG,"[She really has a very unique appearance. A, f..."

,row_count,platform,cat_id,q_id,text
171028,172128,typeform,DB.35.31001812151560,wbGcTLMpw12F,"[Tiki After Dark Duck, Tiki After Dark Lamb, T..."

Empty DataFrame
Columns: [row_count, platform, cat_id, q_id, text]
Index: []

,row_count,platform,cat_id,q_id,text
171283,172385,typeform,CN.90.31001812590654,hmS4M9GrDfVG,[She likes to get to the highest point in the ...

,row_count,platform,cat_id,q_id,text
171303,172406,typeform,CN.90.31001812590654,wbGcTLMpw12F,"[Fromm's Gold adult cat formula, Open Farm - H..."

Empty DataFrame
Columns: [row_count, platform, cat_id, q_id, text]
Index: []

,row_count,platform,cat_id,q_id,text
171425,172530,typeform,CW.94.31001812140843,hmS4M9GrDfVG,[He is especially active: stampedes/gallops ac...

,row_count,platform,cat_id,q_id,text
171931,173037,typeform,UNMATCHED.9ba69e4719f18dbf6a1795fc929bd721,wbGcTLMpw12F,"[Hill's Prescription, Purina ProPlan Prescript..."

,row_count,platform,cat_id,q_id,text
172337,173444,typeform,DD.85.31001812590633,hmS4M9GrDfVG,[Spot is very vocal with a wide range of meows...

Empty DataFrame
Columns: [row_count, platform, cat_id, q_id, text]
Index: []

Empty DataFrame
Columns: [row_count, platform, cat_id, q_id, text]
Index: []

Empty DataFrame
Columns: [row_count, platform, cat_id, q_id, text]
Index: []

,row_count,platform,cat_id,q_id,text
172537,173648,typeform,CP.38.31001812151446,wbGcTLMpw12F,"[Blue Buffalo, Fancy Feast]"

,row_count,platform,cat_id,q_id,text
172816,173928,typeform,CX.63.31001812150424,wbGcTLMpw12F,[Dry - Wellness Complete indoor health Chicken...

,row_count,platform,cat_id,q_id,text
172974,174087,typeform,DC.52.31001812150640,hmS4M9GrDfVG,[He drinks water by dipping his paw in the bow...

,row_count,platform,cat_id,q_id,text
173177,174291,typeform,DB.90.31001812150910,wbGcTLMpw12F,"[Friskies- chicken,beef,seafood, Same for hard..."

,row_count,platform,cat_id,q_id,text
173740,174855,typeform,UNMATCHED.76893cc63db66105218e3a3c31ec6429,wbGcTLMpw12F,"[Chicken, Turkey]"

        row_count  platform         cat_id          q_id                  text
173813     174929  typeform  CH.57.4081603  wbGcTLMpw12F  [Farmina, Fussy Cat]

,row_count,platform,cat_id,q_id,text
173919,175036,typeform,CH.14.4038995,wbGcTLMpw12F,"[Farmina, Vital Cat, Fussie Cat, Fromm]"

Empty DataFrame
Columns: [row_count, platform, cat_id, q_id, text]
Index: []

Empty DataFrame
Columns: [row_count, platform, cat_id, q_id, text]
Index: []

,row_count,platform,cat_id,q_id,text
174156,175276,typeform,CK.56.31001812150247,hmS4M9GrDfVG,"[he chirps and is vocal, he lays in weird posi..."

Empty DataFrame
Columns: [row_count, platform, cat_id, q_id, text]
Index: []

Empty DataFrame
Columns: [row_count, platform, cat_id, q_id, text]
Index: []

,row_count,platform,cat_id,q_id,text
175488,176611,typeform,UNMATCHED.919d5144e46a1ffe53a09100539c4694,wbGcTLMpw12F,"[Fancy feast salmon feast with gravy, Purine p..."

,row_count,platform,cat_id,q_id,text
175568,176692,typeform,UNMATCHED.7d51ca1976aa2a4ee32e93798734c9f1,wbGcTLMpw12F,"[Dry- Science Diet, Orijen , Wet- Fan..."

Empty DataFrame
Columns: [row_count, platform, cat_id, q_id, text]
Index: []

Empty DataFrame
Columns: [row_count, platform, cat_id, q_id, text]
Index: []

,row_count,platform,cat_id,q_id,text
176296,177423,typeform,UNMATCHED.c8f9219165cb1cd3f3b02ee9f80102f2,hmS4M9GrDfVG,"[He's neutered, but he sometimes likes to moun..."

Empty DataFrame
Columns: [row_count, platform, cat_id, q_id, text]
Index: []

Empty DataFrame
Columns: [row_count, platform, cat_id, q_id, text]
Index: []

Empty DataFrame
Columns: [row_count, platform, cat_id, q_id, text]
Index: []

Empty DataFrame
Columns: [row_count, platform, cat_id, q_id, text]
Index: []

,row_count,platform,cat_id,q_id,text
176308,177440,typeform,UNMATCHED.c8f9219165cb1cd3f3b02ee9f80102f2,wbGcTLMpw12F,"[Purina Pro Plan wet food; chicken, turkey, be..."

,row_count,platform,cat_id,q_id,text
176550,177683,typeform,BT.77.1176125,wbGcTLMpw12F,"[Wellness Core chicken indoor formula, +, Soul..."

Empty DataFrame
Columns: [row_count, platform, cat_id, q_id, text]
Index: []

,row_count,platform,cat_id,q_id,text
176604,177739,typeform,BU.95.8775613,wbGcTLMpw12F,"[Hills Science diet, dry, optimal care, Hills ..."

In [ ]:
answers[answers['index'] == 4658]

In [ ]:
questions[questions['q_id'] == 'rlV5VHNWb18l']

In [ ]:
with open('survey.tab') as file:
    reader = csv.reader(file, delimiter='\t') 
    for row in reader:
        print(row)